[2020-02-24 18:35] #340 closed

[2020-02-25 20:59] fmenabe opened #345 "Terminal input bug when configuring a bridge"
When adding a bridge interactively (using `git bug bridge configure`), using keyboard arrows add odd  characters (*^[[D* for left arrow) instead of moving in the string.

For exemple using left arrow in base url:

[code]

The terminal used is Yakuake (based on KDE Konsole).

[2020-02-29 16:33] MichaelMure commented on #345
Doing that seems to require some complex shenanigan like switching the terminal into raw mode (see https://stackoverflow.com/questions/30689640/cursor-key-terminal-input-in-go). It might even need OS specific code and tricky code to support unicode properly.

[2020-03-05 13:59] strk opened #349 "Implement Gitea bridge"
It would be great to have one, be it a first step toward [integration](https://github.com/MichaelMure/git-bug/issues/80) or not

[2020-03-05 19:06] devinrsmith opened #350 "panic: invalid person data"
Running `git bug ls` against this repository is panicking as follows:

[code]

[code]

[code]

[code]

[2020-03-05 20:48] MichaelMure commented on #349
Any volunteer around ?

[2020-03-05 21:00] MichaelMure commented on #350
*sight*

Fixed with https://github.com/MichaelMure/git-bug/commit/e0a702f41d844cef3e0d7bd0f9e986408fdfbe9a

You will have to delete `.git/git-bug/identity-cache` and `.git/git-bug/bug-cache` so the cache is reconstructed.

[2020-03-05 21:00] #350 closed

[2020-03-05 22:44] cheshirekow opened #351 "[jira] No way to adopt an identity"
In summary of our gitter discussion:
With the new credentials system, there is no way to adopt an JIRA imported identity. The credentials that are created are associated with an identity that git-bug itself creates and there is no way to re-associate them after adopting an identity.

@MichaelMure said that there should be an equivalent of `git bug bridge auth add-token` for login/password credenti

[2020-03-09 17:53] MarkoShiva commented on #342
That would be great feature. Btw great work on the tracker by now. :)

[2020-03-12 16:52] MichaelMure commented on #351
That would be https://github.com/MichaelMure/git-bug/issues/336

That command would accept the credential as well as a user ID and the bridge login. It would then tag the user with the correct login metadata (the bridge expose the correct key to user).

This would solve this problem but it's not perfect either. I think we might also need a way to either:
- associate an existing credential to an ex

[2020-03-14 20:52] qcu opened #356 "git-bug and git-ssb validation"
Big git-bug fan here. ❤

I was just testing git-bug together with [git-ssb](https://git.scuttlebot.io/%25n92DiQh7ietE%2BR%2BX%2FI403LQoyf2DtR3WQfCkDKlheQU%3D.sha256), and need to look into this further, to see what is causing what appears to be a git bug push write error. [1]

Note that regular pushes, git-ssb with `git push [ssb|origin] branch` are working fine.

[1]: $ git bug push ssb
[code]

[2020-03-14 20:55] qcu opened #357 "new feature - bridge for git-ssb issue tracker"
In addition to git-bug+git-ssb basic compatibility (#356), I’m also hoping to add a git-bug bridge for the [git-ssb Issues tracker](https://git.scuttlebot.io/%25n92DiQh7ietE%2BR%2BX%2FI403LQoyf2DtR3WQfCkDKlheQU%3D.sha256/issues) at some point.

[2020-03-14 21:39] MichaelMure commented on #356
Hoooo, that's fun.

It seems to be a problem in git-ssb rather that git-bug itself. All the object created by git-bug are git legal (git itself created them). Maybe some kind of format badly assumed somewhere ?

[2020-03-14 21:47] MichaelMure commented on #357
Be my guest :)

It looks moderately easy to do now that the bridge's core supported 3 different bridges and saw quite a lot of refactoring and improvements as well as the reusable prompts. Also, git-ssb's issue tracker seems quite limited in features.

Any idea how you would interface with it ? Is there some API or code to import ?

[2020-03-15 00:23] qcu commented on #356
Thanks! I partially opened this for general awareness of git-ssb, as an option for git-bug.

[@cel](https://viewer.scuttlebot.io/@f/6sQ6d2CMxRUhLpspgGIulDxDCwYD7DzFzPNr7u5AU=.ed25519) (git-ssb author) [noted](https://viewer.scuttlebot.io/%25F%2Bp%2BCStxaYdnKdSQ%2F2LlnynR%2ByPbcsAXLG%2FMOF02t64%3D.sha256) that I was using an old version of git-ssb, and we have confirmed the ability to `git bug push

[2020-03-15 00:23] #356 closed

[2020-03-15 03:37] qcu commented on #357
Currently SSB's dominant implementation language is node, and I believe that the closest thing to an API available for [`git-ssb`](https://git.scuttlebot.io/%25n92DiQh7ietE%2BR%2BX%2FI403LQoyf2DtR3WQfCkDKlheQU%3D.sha256) Issues is the [`ssb-issues`](http://git-ssb.celehner.com/%25k2hR1aGh735Y7bgIeoPepMGbagO8YBBau1cUa6wVJGU%3D.sha256) node library that is initialized with the distributed [`ssb-serv

[2020-03-16 13:30] mkroehnert opened #360 "git-bug GitLab bridge does not correctly import labels"
I heard of git-bug a couple of days ago and gave it a try today.
But first of all, I'd like to thank you for creating and maintaining this great project.

Now to the issue I encountered.
I have a private project hosted on GitLab.com and I used git-bug to pulll the issues from the tracker with the GitLab bridge.
All issues were downloaded and converted, but I noticed, that the labels were missing f

[2020-03-22 13:32] edef1c commented on #336
Would this allow adopting an identity that has otherwise not interacted with the particular repository? This comment is partially a way of allowing me to adopt my GitHub identity for this repo, because I'm not sure if I can merge the two if I use the exporter — I certainly couldn't figure out how to add new information to an existing identity.

[2020-03-22 13:34] edef1c commented on #55
Is there an intention to allow adopting a bridge identity that has otherwise not interacted with the particular repository? This comment is partially a way of allowing me to adopt my GitHub identity for this repo, because I'm not sure if I can merge the two if I use the exporter — I certainly couldn't figure out how to add new information to an existing identity.

[2020-03-28 19:19] MichaelMure commented on #360
It seems to be a problem in the iterator, it doesn't return any LabelEvent after the first one.

cc @A-Hilaly

[2020-03-28 20:23] MichaelMure commented on #360
Should be fixed by https://github.com/MichaelMure/git-bug/pull/363

[2020-03-28 22:48] mkroehnert commented on #360
@MichaelMure that was really quick. Thanks a lot.

[2020-04-04 10:48] #360 closed

[2020-04-04 10:53] MichaelMure commented on #337
@sandhose I don't remember, does it make sense to have those explicit `startTransaction`, `commit` and `rollback` mutation or would it be better to consider all the mutation within a request to be one transaction ? Do we need to have transaction's element spread across multiple call ? Do we need to have the webUI control commit/rollback ?

[2020-04-10 19:45] dtrckd opened #366 "Multiple bugs with gitlab bridge."
Hi,

Playing with git-bug on a existing gitlab repository with a few existing issues on the vendor's bug tracker,  I ran trough the following errors:

After having successfully configured the bridge I could import the gitlab issues as well as creating a couple of local issues with `git bug add`, so far so good. Then, I meet the following errors:
* when doing again `git bug bridge pull`, issues are

[2020-04-10 22:54] aschrijver commented on #172
I mentioned git-bug as a project for consideration on the ForgeFed forum: https://talk.feneas.org/t/standard-list-of-existing-software-to-examine/194/10

[2020-04-10 23:41] dtrckd commented on #366
New test result:
When using git-bug bridge by pushing bug to remote first, it works. Then If we create an issue on Gitlab and import it, the same scenario as before, firts time ok, then I got the crash (+ the doublon), and bridge push doesn't push new local bug anymore.

[2020-04-11 02:02] nh2 opened #367 "Allow to undo open/close operations"
When you accidentally press `o` for open/close in `termui`, it seems that there's no way to undo that without resetting the entire changes to an issue (e.g. new comments). (If there is, maybe it could be made a bit clearer in the UI?)

That can lead to repeated open/closes, like here: https://github.com/nh2/hatrace/issues/61#issuecomment-612296129

It would be nice to be able to undo those, or col

[2020-04-11 02:13] nh2 opened #368 "Keyboard shortcuts are not not easy to parse visually"
In the bottom bar we have the keyboard shortcuts like

[code]

Due to the even spacing, when you look into the middle of the bar, their associativity is not easy to read, e.g. is it `Open bug [n]` or `[n] New bug`?

Some simple ideas how the UX could be improved:

* Use alternating text colours (subtle is OK), e.g. `[↵] Open bug` in white and `[n] New bug` in grey. Background colours would also do

[2020-04-11 08:09] maxandersen commented on #315
i just hit the same - is there a way to query what was that last successfully date imported so to know which `--since` to use ?

[2020-04-11 08:11] maxandersen commented on #315
answered my self - `git bug webui` seem to show last updated by default so used that shown date for a `--since`

[2020-04-11 08:53] MichaelMure commented on #367
Yeah, that could be done better indeed. Not sure what's the best solution though, it might be just an UX issue. Here is what I see as possible fix:
- Finish the transaction concept (https://github.com/MichaelMure/git-bug/issues/337) and give more control to UIs over what is pending and allow to revert
- Have the status change be "less easy":
  - have a "confirm" step ?
  - as the status will event

[2020-04-11 08:59] MichaelMure commented on #368
That's a good point. Not sure which one to choose, screen space is expensive there ...

Another solution would be to move them over a special keybinding popup but that does make it less discoverable.

[2020-04-11 09:01] MichaelMure commented on #315
This is an annoying issue indeed. Maybe I should string match the error to implement a workaround until it's resolved upstream ...

[2020-04-11 12:56] nh2 commented on #368
I would definitely keep it on by default, for new users it is super important to learn what they can do pressing what, I would not have had as good as an experience trying `git-bug` without it.

If you are concerned about screen space, the approach with colours or "Use a connecting symbol" are the most conservative. They use exactly as much space as what's there currently.

For symbols, I think my

[2020-04-11 13:01] nh2 commented on #367
I don't think that would help much, eventually people will get into the situation where they want to undo.

Another alternative:

One can already select messages _and_ status changes by pressing ↓↑. Could the `Del` key simply remove the selected status change from the history?

E.g. pressing `Del` here could delete it:

![image](https://user-images.githubusercontent.com/399535/79044391-33905880-7c

[2020-04-11 14:19] toyg opened #369 "Gitlab bridge misbehaving with identities"
What I've done:
1. created a user and configured a bridge, specifying my Gitlab username as login and a valid token
2. created an issue
3. successfully pushed
4. edited the issue on gitlab (added labels)
5. pulled. The issue was duplicated, and the identity appeared different (had the full name)
6. deleted and re-created the bridge, this time with my email as login and the same token as before
7.

[2020-04-11 16:33] rerobins opened #370 "Implement git-bug bridge to export to file"
Would also implement #45

I'm looking to be able to build something that would dump out a list of the bugs that are defined in the repositories so I can build a display/track multiple repositories that are using git-bug.

I don't believe that it would make sense for this bridge to handle the importing of functionality.  JSON would be fine, but really any structured format would be good.

[2020-04-11 17:35] MichaelMure commented on #368
![image](https://user-images.githubusercontent.com/294669/79050202-cabad780-7c28-11ea-8938-0a3a0efe2a74.png)
![image](https://user-images.githubusercontent.com/294669/79050229-f1790e00-7c28-11ea-97ce-307ff87c116e.png)
![image](https://user-images.githubusercontent.com/294669/79050554-0b1b5500-7c2b-11ea-9a41-1de40de6004f.png)

I used "bold" for the last one. It's hard to be subtle with the 16 color

[2020-04-11 18:04] MichaelMure commented on #367
From a UX perspective:
- when existing on other bug-trackers, editing the history appears in the form of editing/deleting/masking elements. Currently, git-bug only support editing a comment with a special Operation. It's possible to extend that system ("delete comment" seems to be the more probable) but it doesn't seems to be important to me, even to support importing from external bug tracker.
-

[2020-04-11 18:30] nh2 commented on #368
Some more ideas using background colours (I wrote this [gist](https://gist.github.com/nh2/0ae2644274099748ebdda0d1867cf346) to make them):

![image](https://user-images.githubusercontent.com/399535/79051913-28ecb800-7c33-11ea-880f-2d9293bf4084.png)

Of this I like row 1 most, row 4 second-most.

[2020-04-12 09:14] MichaelMure commented on #368
Row 1 implemented in https://github.com/MichaelMure/git-bug/pull/372

What I'm wondering is if it makes it easier to read the first time but more obnoxious/invading after ...

[2020-04-12 11:14] toogley opened #373 "support pull requests"
Might be slightly offtopic because the pull requests are no bugs but the repository limits the scope to bugs. However, i want to expand the vision of distributed development.

I think it would be very interesting if pull requests would also be supported in the same way as bugs. For projects such as [lemmy](https://github.com/LemmyNet/lemmy) this would be a really great feature, because lemmy has a

[2020-04-12 17:23] MichaelMure commented on #215
Splitting this two features into this issue and https://github.com/MichaelMure/git-bug/issues/373

[2020-04-12 17:24] MichaelMure commented on #373
I completely agree with what you wrote. I would very much like to see PR support happening in git-bug. That's a long road though!

https://github.com/MichaelMure/git-bug/issues/118 is a nice to have before starting this work.

[2020-04-12 17:52] nh2 commented on #368
I'll use it a it and report back, but I personally find it much less invading if with 1 eye flick I can double-check the key binding -- I find it more distressing/distracting if I have to start searching, so :+1:

[2020-04-12 20:12] tredoe commented on #349
There is also other self-hosted Git service implemented in Go: [Gogs](https://github.com/gogs/gogs)

[2020-04-13 02:33] gms8994 commented on #366
I've received this error as well. Create an identity locally, then followed these steps:

1. `git bug bridge configure` - set up gitlab as the bridge
2.
[code]
3. Made a change in the Gitlab UI (applied a label to the issue).
4.
[code]
5. `git bug termui` - notice that there are now two issues listed, one with the label, one without.
6.
[code]

Performing a pull from within `git bug termui` "works

[2020-04-13 12:59] korney4eg opened #374 "JIRA integration: don't import all issues, but one mentioned in branch"
If using repo integrated with JIRA, the JIRA issue is usually mentioned in branch, like `feature/MYJIRA-123_feature_name`.

To use integration with git bug be nice to be able to import only needed issue(parsed from branch, or choesen manually somehow), not all 1000.

Thanks for great product

[2020-04-13 14:10] gms8994 commented on #366
This also seems to affect new instances of a gitlab bridge. After configuring in another repo, I attempted to `git bug bridge pull` and received the same `panic` as above.

[2020-04-16 07:48] Arteneko opened #377 "`go get` fails to find package gqlparser/ast"
I tried installing the tool on my Linux computer using

[code]

But the setup failed when trying to resolve the AST package, with the following log.

[code]

For info, I have Go 1.14.2

[2020-04-16 09:10] jahagirdar commented on #191
What is the exact issue with using bugwarrior?
I am a regular user of taskwarrior and recently shifted to git-bug from bugseverywhere, I would love to be able to import bugs in taskwarrior and manage them along with other tasks...

[2020-04-16 10:37] MichaelMure commented on #377
Someone else reported issue when using go get like this. Could you try to clone the repository and `make build` from there ?

[2020-04-16 10:40] MichaelMure commented on #374
This was mentioned in https://github.com/MichaelMure/git-bug/pull/241

One possible solution would be to use git-bug's query language to define import filters.

[2020-04-16 12:16] Arteneko commented on #377
Going through `make` does indeed work, as per log.

This is definitely a weird behaviour.go generate

----

[code]

[2020-04-16 12:35] MichaelMure commented on #377
Yeah, somehow when using `go get`, the version of dependencies specified in the `go.mod` file are not respected. Obviously, this lead to problems.

[2020-04-16 12:36] Arteneko commented on #377
Indeed. This is weird, I never noticed such an issue... That would require some investigation over the `go` tool's package management

[2020-04-16 12:43] MichaelMure commented on #377
It might be related to go 1.14 as nobody complained about that before it was out.

[2020-04-16 19:58] rerobins opened #379 "Random numbers on right side of display"
When viewing a specific issue in termui, I'm seeing columns of numbers on the right side of the display around the labels for the issue that is being displayed.  I'm running in Gnome Terminal inside a tmux window.  When I'm executing git-bug inside an xterm (both with and without tmux) I'm not seeing the same effect.

I've tried changing fonts to other monospaced fonts, but this had no effect insi

[2020-04-16 20:09] MichaelMure commented on #379
This is very weird! I'm also using gnome terminal without any problem ...

[2020-04-17 03:52] rerobins commented on #379
This appears to only be an issue when I run termui inside a tmux session.

[2020-04-17 16:24] MichaelMure commented on #379
So most likely a bug in https://github.com/awesome-gocui/gocui. They are in the process of changing the underlying library to interact with the terminal so we can only wait and see.

[2020-04-17 18:17] MichaelMure commented on #370
Can you detail a bit more why you need that ?

Using the bridge infrastructure would work but I'm not sure that's really needed. A simple export command would do as well it seems.

[2020-04-17 19:03] rerobins commented on #370
I'd like to have a display that is similar to the [dashboard on GitHub](https://github.com/issues) that can give me an overview of all of the repositories that I'm working on.  I can't do this with git-bug at the moment without opening up all of the repositories.  The data could be used to auto-generate reports that I can give to customers showing progress.

It doesn't have to be a bridge, I just

[2020-04-18 01:30] rerobins commented on #379
Interesting note.  This only occurs when I go from the main screen to the issue details screen.  When I come back from editing a comment, the random characters don't display.

[2020-04-24 22:55] MichaelMure commented on #130
Some of this is happening in https://github.com/MichaelMure/git-bug/pull/376

[2020-04-30 20:37] westurner opened #383 "DOC,UBY: What do I specify for avatarURL? Gravatar? W3C DID?"
First walkthrough: I'm doing `git bug user create` and I don't know what to specify when it asks for `Avatar URL:`?
https://github.com/MichaelMure/git-bug/search?q=avatar

Questions:
- Is it my gravatar profile URL, for example, or a path to profile image?
- Can I just leave this blank for now?

Possible solutions for improving usability (UBY):

- [ ] add an explanation in the CLI
- [ ] add an exp

[2020-04-30 22:43] MichaelMure commented on #383
This AvatarURL thing is not really fleshed out properly yet. It's any HTTP link pointing to an image. It's optional.

This should be replaced by storing the file in git really. Loading arbitrary image from the internet has security implications.

[2020-05-03 08:47] vtexier opened #384 "[gitlab] git-bug bridge pull stop on error, so issues are missing"
git-bug version: 0.7
gitlab server: GitLab Community Edition 12.10.2

I get a bug (or feature) with the `bridge pull` command. `git-bug` do not crash, but stop importing after an error.

[code]

Then...
- all issues after the error are missing.
- Many issue closed are open in git-bug.
[code]

If I run again the command, issues are added again so I have them twice !

[code]
Then:
[code]

Was so clo

[2020-05-05 11:48] #383 closed

[2020-05-05 14:30] westurner commented on #383
So I can just press Enter there without entering a URL?

On Tue, May 5, 2020, 7:48 AM Michael Muré <notifications@github.com> wrote:

[2020-05-05 14:34] MichaelMure commented on #383
Yes

[2020-05-09 20:48] frodeaa opened #385 "[github] git-bug bridge pull incomplete comments wrong status"
There seems to be an bug in how the github bridge pull issues. Some issues gets wrong status and incomplete comment history

Tested the bridge on this repo and got wrong number of issues open, 75 vs 73.

[code]

[2020-05-10 11:49] frodeaa commented on #385
Notices also that there are issues with wrong title

[code]

The `fd71207` has wrong title, it should be `Reflections on the change needed in the data model` https://github.com/MichaelMure/git-bug/issues/212

[2020-05-10 11:50] frodeaa commented on #385
https://github.com/MichaelMure/git-bug/issues/167 is an issue that the wrong status of open

[2020-05-13 00:46] kondanta opened #386 "WebUI only works when `git bug` executed by a root user"
Hi,

I've downloaded the pre-compiled linux binary `git-bug_linux_amd64`. When I try to serve webui, it was nothing but 404 error.

## Detailed Explanation
I am using Arch distribution and using pre-compiled linux binary as I already mentioned. My first attempt was failure and I only had 404. Then I switched back to Windows and try serving webui from there, nothing was wrong. So I switched back to

[2020-05-14 11:28] MichaelMure commented on #386
That's quite weird.

Does the other commands work ? Does git work in this repo ? Is there an error reported in the console when running as a normal user ?

Can you try by choosing a port yourself with `git bug webui -p 1234` ?

[2020-05-14 12:06] kondanta commented on #386
Apparently, they don't. I can add new bug, but cannot use termui as well as the webui. Termui works without having any bugs by the way. When I tried to add new bug, it shuts the CLI down, so cannot see the error log.

It does.

Normally there is none.  But as I mentioned above, when I add a new bug, every git-bug command started to fail. Even `ls`. Even with the `sudo`. Though there is an exceptio

[2020-05-15 08:03] njthomas opened #387 "termui hanging in FreeBSD"
When I start termui, I see the git-bug termui interface, but none of my keys work. I have to kill the process to get out.

- this is only happening on FreeBSD
- it is happening FreeBSD 11.3 and 12.1 (I've not tested with 12.0)
- it is not happening on OpenBSD (tested on 6.6)
- in FreeBSD, I used both the ports/pkg version (v0.7.1), but I also compiled v0.7.1, and v0.70 from src
- it does not seem

[2020-05-15 14:12] bsdlcook commented on #387
FreeBSD port maintainer for git-bug here.

As the go package [awesome-gocui](https://github.com/awesome-gocui/gocui) is using a custom fork of termbox, it's slightly outdated and hasn't inherited the FreeBSD [fixes from upstream](https://github.com/nsf/termbox-go/commit/58d4fcbce2a7e6a3a48afbc6b7ec2a916ac33ee0) and subsequently causing these issues you're experiencing. Since applying the patch afo

[2020-05-15 19:18] MichaelMure commented on #387
Ho hello, thank you !

So if this patch is accepted in the FreeBSD package, does that mean that this problem is resolved *in practice* ? Otherwise there is still the possibility to fork the forked (*sight*) go-termbox and pin this version in git-bug but that's something I would gladly avoid if possible.

[2020-05-15 20:10] bsdlcook commented on #387
In theory, it's resolved in practice via the package; only because a band-aid is being applied to this very particular case—what it doesn't do is solve the underlying issue. It doesn't stop someone from manually cloning this repo on FreeBSD, building and facing what's been described above. Since it's a one-liner fix it wouldn't be too difficult to have it merged into the fork at [awesome-gocui/ter

[2020-05-15 20:14] MichaelMure commented on #387
Yes the best scenario is to have that merged upstream. Not sure it's going to happen soon because they are in the process of ditching entirely go-termbox to use tcell instead (https://github.com/awesome-gocui/gocui/pull/45). This is a rather slow and painful process.

1 and 2 sounds good to me. Let's keep this issue open as well until it's fully resolved.

[2020-05-15 21:23] bsdlcook commented on #387
In other news, the FreeBSD bugzilla report has been reviewed and [merged](https://svnweb.freebsd.org/ports?view=revision&revision=535333) fixing this issue for the package.

For now I think it's best to wait and see what happens in regards to this, then to act accordingly for termbox.

[2020-05-17 20:14] njthomas commented on #387
Confirmed that the patch fixes the FreeBSD port version, and I was able to apply the same patch and build git-bug from GitHub source.

[2020-05-17 20:17] njthomas commented on #99
This turned out to be related to #387 which has just been fixed (in the FreeBSD ports version), and I'm able to build from source with the same patch, so I'll pick up where I left off and continue to work on this feature.

[2020-05-17 20:52] mkroehnert commented on #366
Hi, I am receiving the same `panic: runtime error: index out of range [-1]` on the repo that I used for testing in #360.

For reference:
* I used git-bug 0.7.0 on https://gitlab.com/mkroehnert/git-bug-issue-test/-/issues (which had the label issue).
* I ran `git bug bridge pull` with git-bug 0.7.1 on the same checkout that held the initial `git bug bridge pull` from the above mentioned ticket.
* T

[2020-05-18 09:12] MichaelMure commented on #366
Hey guys, sorry it's taking time. Life is busy at the moment...

[2020-05-21 19:19] mkroehnert commented on #366
@mkroehnert take your time.
I didn't post the example to pressure anyone but to contribute an example that hopefully helps in reproducing the issue.

[2020-05-22 10:10] Eluminae opened #389 "Gitlab bridge push comments?"
Hello there !

Just discovered git-bug and it seems awesome.

I got an issue, I think. I added a comment to my imported gitlab issue then I try to "git bug bridge push" but it keep telling me "exported 0 issues with gitlab bridge" and I don't see my comment in the gitlab issue view.

What am I missing ?

Ty by advance

[2020-05-22 10:22] MichaelMure commented on #386
Can you make sure that every file in your repo has normal permission and can be read/write by your user instead of just root ? Something like `chown -R <user>:<user> .`.

Otherwise I don't see any reason why git-bug would require root access. Ignoring some cache files written directly in `.git/git-bug/`, all interaction with the repo are done through git itself. If `git` woks, git-bug should work

[2020-05-22 14:54] Julian commented on #327
Not sure if here's the right place to add this comment, but even beyond `git-credential`, isn't using the git config a bit surprising? It surprised me certainly -- I have my configuration itself tracked in git, and seeing secret credentials pop up in the file breaks being able to do that (of course I noticed, but yeah I definitely didn't expect secrets to be added to the global git config as part

[2020-05-23 05:52] ssgelm opened #390 "git tags for project don't match golang spec"
The golang spec for tagged versions (https://blog.golang.org/publishing-go-modules) specifies that the version tags should be `vVERSION`, e.g. `v0.7.1`. Would it be possible for you to add tags in this format and modify your tooling to continue to do so moving forward?

Thanks!

[2020-05-23 06:49] fridim opened #391 "/tmp is hardcoded in azure cloud provider"
Please address comments made in

https://github.com/redhat-cop/agnosticd/pull/1725

@vincepower @rhjcd

[2020-05-23 06:50] #391 closed

[2020-05-23 10:01] karlicoss opened #392 "feature: ls dump issues as plaintext (markdown/org-mode)"
Basically a command like `git bug dump` that would dump the issues rendered as a single markdown/org-mode file (or a directory of files). This would allow to instantly search in issues within the IDE without having to switch to the terminal/web UI.

Previously I was using [org-sync](https://github.com/arbox/org-sync) for this, but just discovered `git bug`, and it seems way more mature and reasona

[2020-05-23 10:09] karlicoss commented on #327
Agree that adding directly to git config is a bit extreme (because people usually expect this file to be public). Perhaps an easy fix without changing the model would be using an `include` section in git config instead:

[code]

and git-bug keeps its token sections `.config/git-bug/token`.

[2020-05-23 11:08] MichaelMure commented on #327
Using the git config is not perfect but it has a very nice property: it works cross platform and across repository very easily. I'm open to suggestion and help to change that though.

[2020-05-23 11:09] MichaelMure commented on #12
FYI, this is still happening over at https://github.com/MichaelMure/go-term-markdown. It needs a little bit more work but it's getting close.

[2020-05-23 11:58] MichaelMure commented on #392
Hoooo, I like this idea of org-mode. I'm not so familiar with it though, could you provide an example with all kind of relevant features ?

Yes, git-bug would benefit from having this kind of export. It has been touched on in #45 and #370.

In term of UX I'm a bit unsure what is the good way forward. It could be:
- a flag of the `ls` command to change the output style
- ~a new `export` command~

A

[2020-05-23 11:58] MichaelMure commented on #45
Closing in favor of https://github.com/MichaelMure/git-bug/issues/392

[2020-05-23 11:58] #45 closed

[2020-05-23 11:59] MichaelMure commented on #370
Closing in favor of https://github.com/MichaelMure/git-bug/issues/392

[2020-05-23 11:59] #370 closed

[2020-05-23 12:03] MichaelMure commented on #392
Yes please ;-)

In term of implementation, it'd be nice if the `ls` command could do the listing/loading of bugs (as currently) and delegate the output to a set of formatters, one for each supported format.

[2020-05-23 12:05] MichaelMure commented on #390
... woopsy

Do you think it would be a problem if I double tag the last release ?

[2020-05-23 12:07] MichaelMure commented on #389
That should work. Do you get any errors ?

As you can see in the issues here, a bunch of others bugs have been found regarding the bridges, it might be related.

[2020-05-23 12:21] MichaelMure commented on #368
@nh2 How do you feel about it now ? Looking back at it, it feels a bit aggressive to me with the hard blue/black transition. I also liked having the whole help bar colored instead of just the section with text.

[2020-05-23 12:32] karlicoss commented on #392
Absolutely, quickly sketched an example how it could look (in my Emacs):

![image](https://user-images.githubusercontent.com/291333/82730473-e6b99a80-9cf7-11ea-95ad-3e145c77747c.png)

- outlines are easy to collapse and navigate, you can easily jump between the comments
- links are clickable: `#392` would bring you to the issue, `X` links straight to the comment
- the dates in org-mode they are ar

[2020-05-23 13:27] Julian commented on #327
Cool! Glad to hear.
In Python-land if it were me I may be considering something like the [keyring](https://pypi.org/project/keyring/) module.

Maybe there's something similar for go (OS-agnostic access to the operating system's credentials keychain)

But can have a think or look around.

[2020-05-24 07:11] ssgelm commented on #390
I think that sounds safe...

[2020-05-25 09:07] kondanta commented on #386
I did make sure all of the folders are belong to my $USER. I'll try to compile the source code and use that binary to check there is something related with that.

I think this issue can be closed since I am the only one having this and there is no actual steps to reproduce this issue on another machine. If I find something, I'll send a PR request.

[2020-05-25 11:33] MichaelMure commented on #386
Alright, let's do that.

If you manage to run a debugger and see in more detail where it fails, it would be useful.

[2020-05-25 11:33] #386 closed

[2020-05-25 15:46] Eluminae commented on #389
I don't have any errors.

[2020-05-29 18:56] skyfaller opened #394 "Implement Sourcehut bridge"
[Sourcehut](https://sourcehut.org/) is still in alpha, so it might be a moving target, but it would be great if we could somehow bridge to [their ticket-tracking system](https://man.sr.ht/todo.sr.ht/).

[2020-06-02 15:08] hoijui commented on #55
in a fully distributed git world, this is a more important and difficult question...
how do we prevent identity theft?
should measures preventing that be the default or optional?
would each user decide whether they want to use a secure way of identity management, or each repo, or a mix/combination of the two?
is avatar-URL really enough, or should the avatar image rather (optionally) be stored in

[2020-06-02 15:41] hoijui commented on #55
just stumbled over W3Cs [Decentralized Identifiers (DIDs)](https://www.w3.org/TR/2019/WD-did-core-20191209/):

it sounds quite optimal so far. It is still in the making though (as of mid 2020)!

[2020-06-02 15:51] MichaelMure commented on #55
By having crypto keys. See https://github.com/MichaelMure/git-bug/issues/130

My view is that as a general UX principle git-bug should have a default that is 1) functional with little to no configuration 2) address a wide range of use cases and 3) allow to add additional constraint to restrict to a more specific use case.

For this problem in particular, I think the best way would be:
- default wo

[2020-06-02 15:54] MichaelMure commented on #55
Not super knowledgeable about DID but AFAIK they don't work offline ?

Note that identities in git-bug is just an interface (https://github.com/MichaelMure/git-bug/blob/master/identity/interface.go). It could be replaced by another implementation someday if the need arise.

[2020-06-15 10:25] tazjin opened #402 "[WebUI] Read-only mode for serving publicly"
Hey, and thanks for git-bug, it is an amazing idea!

We've started using git bug for our community monorepo at [code.tvl.fyi](https://code.tvl.fyi) and would like to be able to host a read-only web UI so that we can link to bugs etc., without people needing to pull them locally.

It seems that the web UI currently expects to be launched with an identity, and that it always provides features such a

[2020-06-15 10:50] MichaelMure commented on #402
Yes this would make sense.

At the moment, the WebUI implicitly use the default User of the git repo it's launched from as the active user in the WebUI. The plan is to have it eventually accept external authentication (OAuth typically) so that people without git commit access can participate on the bugtracker.

But having this implies that there is sometimes no logged user and the WebUI should be

[2020-06-15 10:55] MichaelMure commented on #392
@Invincibot is working on this :tada:

[2020-06-17 09:39] sudoforge opened #406 "Bridge credentials should be read from the full configuration chain"
`git-bug` does not currently read bridge credentials from anything except the user configuration file, e.g. `${HOME}/.gitconfig`. It would be awesome if the full configuration chain could be supported, in order of precedence:

- Local configuration -- `${REPO_ROOT}/.git/config`
- User configuration -- `${HOME}/.gitconfig` or `${XDG_CONFIG_HOME}/git/config`
- System configuration -- `/etc/gitconfig

[2020-06-17 15:28] MichaelMure commented on #406
So git-bug read the git config with git itself, through the `git config` command.

Bridges **configurations** are stored in the local git config (`--local` is added to the command).
Bridges **credentials** are stored in the global git config (`--global` is added to the command).

Based on this, you should be able to use whatever git foo or files as long as it works for git itself. Isn't that the c

[2020-06-17 16:19] sudoforge commented on #406
I updated the description and title of this issue for additional clarity.

Yes, the configuration for bridges is read from the local configuration, and credentials are read from global. This issue pitches that credentials should be read from the entire chain.

[2020-06-17 16:22] sudoforge commented on #406
Also, note that there is a bug with the way credentials are read from the global configuration. If my global configuration contains a block like:

[code]

and `~/.gitconfig.foo` contains the `git-bug` credential configuration, then you end up getting:

[code]

[2020-06-17 16:38] MichaelMure commented on #406
But why is that the case ? Can you read those with the git config command ? git-bug doesn't do anything special there.

[2020-06-17 17:00] sudoforge commented on #406
Yeah, if you have the follow file structure:

**`~/.gitconfig`**

[code]

**`~/.gitconfig.local`**

[code]

then `git config --get foo.bar` returns `baz` as expected, however explicitly defining `--global` doesn't follow the `include` statement and thus will return an empty value.

[2020-06-17 17:00] sudoforge commented on #406
`git-bug` should probably not care about where the credentials are coming from and rely upon Git's configuration loading by simply calling:

[code]

instead of explicitly calling `--global`, `--local`, or `--system`.

[2020-06-17 17:01] sudoforge commented on #406
I don't have time to familiarize myself with the codebase today, but this is a fairly trivial patch (if you approve of it) and I'd be happy to take care of this over the next few days / weekend.

[2020-06-17 17:33] MichaelMure commented on #406
I'm torn. This looks like a git bug really, because `~/.gitconfig.local` in your example is still the global config right ? So those entries should show up.

One thing that could be done is to use  `--global` when writing but not for reading, but that blur the line between local and global config. That could lead to other bugs.

Some pointers:
https://github.com/MichaelMure/git-bug/blob/master/rep

[2020-06-17 17:35] MichaelMure commented on #406
Also, storing credentials in the git config might just be a bad idea: https://github.com/MichaelMure/git-bug/issues/327

[2020-06-17 17:53] sudoforge commented on #327
Just a note: using the `include` section won't work, because `git-bug` currently uses the `--global` and `--local` flags respectively, which do not follow includes.

[2020-06-17 17:57] sudoforge commented on #406
Agreed re: #327

---

It's not really a bug in `git` -- using `--global` or `--local` are specifying a specific file. You _can_ follow includes by using `--include`:

[code]

Although, again, I think removing the file specification altogether makes the most sense.

[2020-06-17 18:27] kondanta commented on #59
Mind if I ask the current state of this issue?

[2020-06-17 19:06] MichaelMure commented on #59
Labels should be displayed everywhere with the correct color, but you can't choose the color yourself. That would require a proper configuration data structured stored in git and shared.

[2020-06-17 19:09] MichaelMure commented on #406
So just adding `--include` would work for now ? That would be trivial to do.

[2020-06-17 20:59] sudoforge commented on #406
That would do it, yes, but I'd suggest _removing_ the `--global` and `--local` flags when reading instead. This is, in my opinion, a much more idiomatic way to parse configuration values, as well as allowing the user to manage where their configuration is stored.

For writes, writing to the global configuration is probably fine. Better yet, we could allow a flag to choose a particular configuratio

[2020-06-18 09:57] MichaelMure commented on #377
Closing as there is not much I can do here.

[2020-06-18 09:57] #377 closed

[2020-06-18 11:59] MichaelMure commented on #394
API is here: https://man.sr.ht/todo.sr.ht/api.md

[2020-06-18 13:38] MichaelMure commented on #392
https://github.com/MichaelMure/git-bug/pull/403 merged with support for `git bug ls --format=<format>`. Supported values are `default`, `plain` and `json` at the moment. `orgmode` is coming, as well as others commands enabled the same way.

@karlicoss if you could keep an eye on that and test what @Invincibot is going to write for orgmode, that would be very helpful.

[2020-06-18 20:44] kondanta commented on #59
Alright, I understand. Do you planning to support colour selection in near future?

[2020-06-18 21:11] MichaelMure commented on #59
Probably not as there is some significant development with higher priority (some being required to implement that feature).

[2020-06-21 05:54] karlicoss commented on #392
Looks good, thanks! Few things from my perspective:

- might be nice to have status in the heading for a quick overview?
- instead of `login:` could use clickable links instead?
- not sure if the ids are worth including in the markdown, can they even be reached through github's interface? Also human id seems to be a prefix of id, so not sure if worth keeping?

[2020-06-21 10:11] karlicoss commented on #392
Ah, makes sense. Although it does know `origin:github` so perhaps in the future some fine tuning with origin-specific links could be added.

Yeah, I think it looks good! Perhaps best to also ask someone who's more used to working with Markdown, but I guess in any case it's easy to change in the future (since the dump is meant to be read only). As long as it's something one can easily search over f

[2020-06-21 14:02] MichaelMure commented on #392
It's possible, you can just load the full Snapshot and read the comment from there. But that should not be done really. `ls` is a command to list bugs and get an overview. You should only get the most important information, that is what is stored in the excerpt already. Displaying more details about a bug make more sense in the `show` command.

Now, while org-mode make total sense to me as a way t

[2020-06-21 15:56] MichaelMure opened #409 "cache update on push in hosting situation"
So you want to accept edit from both the webUI and `git bug push` at the same time. That make sense.

When the webUI or any other command run, the cache lock the repo, which prevent any other command to process. Any ... but a push as this is git itself, not git-bug. It works well for a personal usage: you can't alter the repo concurrently and you can't pull new changes while something else happen.

[2020-06-23 00:20] MichaelMure commented on #406
@sudoforge actually this has already been done with https://github.com/MichaelMure/git-bug/pull/371 but no released version include it yet.

That said, I'm looking at migrating to go-git instead of launching CLI commands. One of the limitation is that go-git doesn't support includes. I opened an issue at https://github.com/go-git/go-git/issues/110

[2020-06-23 18:35] MichaelMure commented on #337
After discussing with @sandhose it appears that explicit transaction are not worth the added complexity server side.

Best to do an implicit transaction: whatever mutation exist in a single request must be executed server side **in order** within a transaction. If any one of them fail the whole thing will be discarded and no changes will be made to the data model.

[2020-06-25 23:02] MichaelMure commented on #392
Resolved with https://github.com/MichaelMure/git-bug/pull/410

[2020-06-25 23:02] #392 closed

[2020-06-27 21:09] #402 closed

[2020-06-28 17:47] MichaelMure opened #415 "feat: comment ID holding both bug and comment reference"
I just had a literal shower thought about this.

Instead of concatenating a part of the bug ID with a part of the comment ID, we could *interleave* them.

That is, instead of doing `BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBCCCCCCCCCC` with B being a character of the bug's ID and C being a characters of the comment's ID, we could do `BBBCBBBCBBBCBBBCBBBCBBBCBBBCBBBC`.

This way, the longer the prefix of this

[2020-06-28 17:48] MichaelMure commented on #415
More context in https://github.com/MichaelMure/git-bug/pull/128

[2020-06-30 16:02] MichaelMure opened #416 "We can't make a proper organisation because the name git-bug is already taken on Github"
Hello @git-bug

This is an attempt to contact you as you don't have any other way of contact on your Github profile.

As you can see in this repository, `git-bug` is a distributed bug tracker embedded in git. It is now relatively popular and I would like to promote it to a real Github organization to grow a community and regroup the various related repository.

The obvious `git-bug` name is taken

[2020-07-05 23:39] bqv commented on #315
I hit the same while trying to use http://github.com/nixos/nixpkgs

[2020-07-05 23:51] bqv commented on #315
Not quite as simple with this one. I've managed to get 3.2k issues, but while datalad has ~4k, nixpkgs has nearly 90k

[2020-07-07 04:46] cript0nauta opened #419 "[github] Can't use two bridges at the same time"
Hi! I've been using git-bug for a while and had and awesome experience with it,
except for a small annoying bug: i configured a bridge to my private GitHub
repo and exported the issues, then I deleted that repo and tried to re-export
the issues to a new repo without success.

Steps to reproduce:

* Setup a GtiHub bridge `br1`
* Run `git bug bridge push br1`. It will create the issues successfully

[2020-07-07 17:23] sornas opened #420 "Segfault when running git bug add"
Hello,

When running `git bug add` in a repository I get the following segfault.

[code]

With git bisect I have traced this to commit 536c290d from #414.

go version and `uname` since I guess it's not present for everyone.

[code]

This is the complete output.

[code]

More interesting behavior:
[code]
Compared to tag 0.7.1:
[code]

[2020-07-07 18:16] MichaelMure commented on #420
Ha, good catch !

It should be fixed with https://github.com/MichaelMure/git-bug/commit/71989045c9c2b8e9268812fe8eb49b37d8aab1d7

[2020-07-07 18:16] #420 closed

[2020-07-07 18:40] sornas commented on #420
Indeed it is, thanks!

[2020-07-07 20:03] MichaelMure commented on #419
As you may have guessed, this is intentional, at least for now.

As a starting point, the github bridge can only push edits that it has an API token for. You can load more than one token, but you need to have them to begin with. Generally speaking, git-bug is a pretty bad issue transfer tool (for now).

Now, if you configure two bridges, what's the behavior that you expect ? You could expect that

[2020-07-07 20:03] #419 closed

[2020-07-12 17:24] karlicoss opened #426 "cache: timestamps are not written properly on disk"
Version: latest (https://github.com/MichaelMure/git-bug/commit/f3304bdc1c215e733b9a2ee6a228e64f663c2b09)

Steps to reproduce:
[code]

What happens:

- `git-bug ls --json` shows the following for issue timestamps:

[code]

- If you launch `git-bug termui`, it shows "A long while ago" for all issues. Hower, if you press enter on an issue and go back, its time gets set to the correct time. If you clo

[2020-07-12 18:16] karlicoss commented on #392
Sorry took me so long to reply!

Main usecase for me personally is being able to quickly search throughout the issues without always going to github, or even having git-bug open for the specific repository. Ideally I'd set up a pull hook to run something like `git-bug ls --format org-mode > issues.org`, so the issues are somewhat up to date. I'd prefer to have all discussions in this file, but if

[2020-07-13 12:27] tbm commented on #416
Inactive accounts are [against GitHub policy](https://docs.github.com/en/github/site-policy/github-username-policy). I've had success in the past asking GitHub to release (i.e. remove) an inactive account.

[2020-07-13 12:49] wavexx opened #429 "TermUI: broken scrolling on long comments in bug view"
In TermUI, if a comment in any issue exceeds the vertical size of the view itself, it's impossible to read the comment in it's entirety: the view is scrolled immediately to either the beginning or the end of the comment.

If such comment is the first comment, then scrolling upwards also causes the view to misbehave.

[2020-07-13 12:55] MichaelMure commented on #416
I tried that already without success. I suppose it's because this account actually had an activity (2 issues years ago).

[2020-07-13 13:02] wavexx opened #430 "TermUI: dense UI"
In all TermUI views there always seems to be a space for an empty frame around the main view, which results in two columns and most importantly two lines of wasted space.

Could this space be removed?

I could contribute such a change.

[2020-07-14 21:18] MichaelMure commented on #426
I suppose that if you delete `.git/git-bug/bug-cache` the date are fixed ?

[2020-07-14 21:20] MichaelMure commented on #429
Agree. I very much welcome contribution to fix that.

[2020-07-14 21:23] MichaelMure commented on #430
Some of the spacing are helpful for readability imho but yes, contribution much welcome. It's not something that has had a lot of attention.

[2020-07-14 21:35] karlicoss commented on #426
Yep, just tried it:

[code]
Same for `git-bug list`, the first run after removing the cache works as expected, but running after it's cached results in broken timestamps.

[2020-07-14 22:21] MichaelMure commented on #426
*sighttt*

So what's happening is that I made a change in the cache format recently (https://github.com/MichaelMure/git-bug/commit/aab3a04d0c4ddbf97d589ba9048a539c6d7186e9) to store a timestamp there instead of a full decoded date. It saves some bytes and CPU, and there is no point in having something more precise in the cache than in the actual data. Part of that change include having unexported

[2020-07-14 22:36] karlicoss commented on #426
I see! I don't know much about Go, but sounds painful.
Not sure if I understood what you mean by exported/unexported fields? But anyway, as a short term compromise, wondering if keeping a full date is actually that bad? My hunch would be that bytes/CPU saved are low in comparison to all the other fields. But I might very well be wrong, and I've seen there are some benchmarks in the codebase, so I

[2020-07-15 09:23] MichaelMure commented on #52
Comment edition command coming in #424

[2020-07-15 10:34] wavexx commented on #430
Relevant gocui issue https://github.com/jroimartin/gocui/issues/70

![2020-07-15T122547](https://user-images.githubusercontent.com/1017726/87534506-6891c880-c696-11ea-9635-f27c1f7e3a56.png)

Still seems very readable to me thanks to the coloring. In general I do not find frames useful, unless it's a modal window where some separation is necessary.

But of course, it's to you to decide :)

 I find

[2020-07-15 11:07] MichaelMure commented on #430
Damn, though choice. I agree that it's still readable but I also find the extra separating space visually relaxing. Maybe a good compromise would be to remove only the top spacing ? What do I know, I'm no designer ;)

Yeah that's the idea. The low level CLI commands are really meant for scripting and integration into other tools.

I could see that happening. Is CMT a common way to abbreviate comme

[2020-07-15 11:36] wavexx commented on #430
For terminal UIs space generally comes as a premium. Then again, it's probably one of those things that needs some sort of configuration as it's never going to satisfy everybody.

After fiddling some more, this is what I get:
![2020-07-15T132424](https://user-images.githubusercontent.com/1017726/87539839-ee197680-c69e-11ea-8044-478e64463039.png)

I removed the extra spaces between columns (except

[2020-07-15 12:47] MichaelMure commented on #430
Definitely. `git-bug` already use the git config here and there to configure behaviors (`git-bug.webui.open` for example). A `git-bug.termui.dense` option could make sense. That said, some of your changes make sense regardless.

The comment column is definitely better.

Imho this is more of a hash collision issue than a UI question. The length of a "for human" hash is defined only once in the core

[2020-07-15 20:45] ogirginc opened #431 "Next Release Date"
Hi Micheal 👋 Thanks for this useful & thoughtful project!

Quick question: When is the next release planned? The lastest one was nearly 4 months ago. Features like https://github.com/MichaelMure/git-bug/pull/371 are merged but can not be used.

[2020-07-15 22:47] MichaelMure commented on #431
No date planned. At the moment `master` is in the middle of fairly big under the hood improvements. Those will take time to settle and will require https://github.com/MichaelMure/git-bug-migration/ to be finalized to migrate the existing repo. I also have an actual job so expect at least two more months, likely more.

[2020-07-15 22:47] #431 closed

[2020-07-16 08:36] wavexx commented on #430
On Wed, Jul 15 2020, Michael Muré wrote:

I think the current length is fine.

It was more of a discussion seeing the column lengths as fixed
currently, knowing there will be a change probably along the hash
transition.

I wish I could almost switch the ID to the "upstream" bug ID (relegating
git-bug's ID in the detailed view) when working with a bridge.

I guess. I never program in go, so I'm tot

[2020-07-16 08:37] wavexx commented on #430
An example of tig's abbreviated dates + authors.

![2020-07-16T103556](https://user-images.githubusercontent.com/1017726/87648916-40ff3680-c750-11ea-901e-c43dfe8a82e2.png)

Leaves most of the space free for the commit graph/summary, which is great.

[2020-07-16 08:42] MichaelMure commented on #430
I was thinking about [this function](https://github.com/dustin/go-humanize/blob/master/times.go#L84) specifically. `git-bug` use the simpler version that use a pre-defined [message array](https://github.com/dustin/go-humanize/blob/master/times.go#L47-L65) but you can use your own with this one.

[2020-07-16 13:29] Eluminae commented on #366
I think it is related to https://github.com/MichaelMure/git-bug/pull/378 cause it works perfectly when you add a first issue on gitlab.

Btw, there is any steps done about this gitlab gridge?

I'll clone my other issue cause it is just a duplicate of this : https://github.com/MichaelMure/git-bug/issues/389

[2020-07-16 13:30] Eluminae commented on #389
I close this cause it is a duplicate of https://github.com/MichaelMure/git-bug/issues/366

[2020-07-16 13:30] #389 closed

[2020-07-16 14:15] MichaelMure commented on #366
Not at the moment. I'm pretty busy on other parts of the code, on top of my actual job. If someone could step up and debug this that would be very welcome.

[2020-07-25 12:12] MichaelMure opened #434 "[bridge] auth token are not removed properly in git config"
When removing a bridge credential, a git command is executed in the repo to remove the corresponding sections in the global config. It seems that this command only match part of the entries to remove, leaving a broken credential behind.

The git config is quite akward to work with, maybe the best way would be to just migrate to the go-git backed Repo https://github.com/MichaelMure/git-bug/pull/412

[2020-07-25 12:13] MichaelMure commented on #369
I believe this is due to https://github.com/MichaelMure/git-bug/issues/434 that I just found out. Let's close this one

[2020-07-25 12:13] #369 closed

[2020-07-25 12:18] MichaelMure opened #435 "[gitlab] Status change are not imported anymore"
I've been investigating the CI break on master. It seems that the gitlab bridge is now unable to import the status changes of an issue (open/close).

This is not due to a broken code in git-bug, it's due to a gitlab API change. It seems that the "Notes" API is not listing those events anymore. More debugging is required to see if this information appears in another way. If not, we'll have to check

[2020-07-26 09:21] MichaelMure commented on #435
Confirmed that the notes just don't have this event anymore. @A-Hilaly I'm sad now :|

This is not a nice API.

[2020-07-28 12:41] MichaelMure commented on #430
@wavexx are you planning to make a PR for this? That'd be great.

[2020-07-28 12:47] wavexx commented on #430
I currently have a few commits for this dense layout, but there is no setting to switch between normal/compact mode really.
Do you want to keep the ability to use the old layout?

[2020-07-28 12:52] MichaelMure commented on #430
Some/most of those improvements should probably in the "normal" layout but I guess we should keep a way to choose between normal and dense (with a git config).

Could you list the changes you have so we can decide which is which ? Or maybe choose yourself.

[2020-07-28 13:03] wavexx commented on #430
Let's do it this way? Do you see something in the last screenshot you don't like?
I've used it for several days now, I find it very readable thanks to the coloring. It doesn't feel cramped to me.

I was actually thinking to do something similar to the colorized "ls" formatter too (using the $COLUMS env for proper lenght), following pretty much the same structure.

[2020-07-28 13:07] MichaelMure commented on #66
Done! Thanks @Invincibot

[2020-07-28 13:07] #66 closed

[2020-07-28 15:21] MichaelMure commented on #430
Heh, I suppose you are right and a single "dense" version would work. Could you just post a screenshot with a bigger window so I can finally make up my mind?

I welcome those improvements ;) What is that $COLUMNS env variable though?

[2020-07-28 18:49] #426 closed

[2020-07-28 18:49] MichaelMure commented on #426
Should be fixed now.

[2020-07-29 09:04] MichaelMure commented on #327
Closing as the likely path forward is to not use the git global config anymore but not the git credential thing either.

What is being cooked in https://github.com/MichaelMure/git-bug/pull/412 is to use the user system keyring (accessed through https://github.com/99designs/keyring) with a simple file in the user config dir as a fallback.

[2020-08-10 05:56] sudoforge commented on #416
Just to note, there's no activity _that you can see_. For all we know, the user makes 100 commits a day -- if all of the activity is private, the activity panel will look empty.

[2020-08-15 14:05] jerome-jutteau opened #445 "Can see pushed comments but not pushed bugs"
Hi!

I am discovering git-hub and I got a strange behavior.
When performing a `git bug push` I can see new comments but not new bugs.

Here my script which reproduce the behavior:
[code]
Note that I have two files in `a/.git/refs/bugs`

Anything I missed?

[2020-08-25 17:07] MichaelMure commented on #430
@wavexx could you push your changes in a branch somewhere or even open a PR?

[2020-08-25 17:54] MichaelMure commented on #416
I made https://github.com/git-bug-project but there is actually no way to accept github sponsors as an org, which limit quite a lot the usefulness it.

[2020-08-25 17:55] MichaelMure commented on #368
Fixed with #372

[2020-08-25 17:55] #368 closed

[2020-08-26 09:11] wavexx commented on #430
I just pushed what I had at this moment, so not much changed since the screenshot.

[2020-08-27 12:20] #132 closed

[2020-08-27 21:39] sudoforge commented on #416
The *Sponsors* feature is GA for organization in the following regions: https://github.com/sponsors#regions

[2020-08-31 01:01] mitra42 opened #451 "Bridge - issues not showing up from github"
I've got a github project mitra42/webForth

I've have, or believe I have, a configured bridge with it.

`git bug pull` says
[code]
So I'm presuming it is connected since there are no error messages

`git bug bridge auth` shows me a listing for github with a token and the right login id "mitra42"

BUT ... `git bug ls` shows no issues (there is at least one issue there).

Happy to help debug ....

[2020-08-31 17:22] MichaelMure commented on #451
`git bug pull` is for the native workflow of git-bug (push/pull to git remotes). You are looking for `git bug bridge pull` ;)

[2020-08-31 17:22] #451 closed

[2020-08-31 17:23] MichaelMure commented on #451
It's a common mistake though, not sure how to make it more obvious/discoverable.

[2020-08-31 22:28] mitra42 commented on #451
I'm not sure - I think you've made the UI more complex than necessary.  Normally when I do `git pull` it brings stuff to my local laptop from the remote git (typically github or gitlab), why wouldn't `git bug pull` do the same for the issues i.e. I can't understand what `git-bug pull` would do that is different from `git bug bridge pull` ?

P.S. I suggest re-opening the issue, as a UX issue if its

[2020-09-01 16:05] AtomToast commented on #349
afaik gitea is a fork from gogs with a different development philosophy and from what I saw also more features

[2020-09-01 16:36] AtomToast opened #453 "termui: configurable color scheme"
I use a colorscheme with a quite bright blue color which leads to the statusbar being basically unreadable.

![image](https://user-images.githubusercontent.com/27757087/91881468-0d7d5a80-ec71-11ea-9e9d-1db736f9c66a.png)

I found [this pr](https://github.com/MichaelMure/git-bug/pull/428) but they also only added hardcoded values. Is there any simple way to add support for colors? Maybe through xres

[2020-09-04 01:08] r14c opened #454 "feat: webui - generate a static site"
i would like to be able to export the webui as a static site. the go server is fine, but in some cases its just easier and better to have a bunch of static files on a webserver. i can understand if there is not interest in implementing this in core, but i thought i'd bring it up since i couldn't find a mention of this in the issues.

[2020-09-16 15:39] MichaelMure commented on #454
You could built the webui from the source in https://github.com/MichaelMure/git-bug/tree/master/webui.

A problem you might have though is that the graphQL API is expected to be on the same server (same root, same port). That part will depend on how you setup things. If you are up for contributions, I'm willing to merge a PR that allow to configure the graphql endpoint.

[2020-09-16 15:39] #454 closed

[2020-09-16 15:42] MichaelMure commented on #453
I'm still looking for the right way to do those things. From the app itself, I have no idea what kind of theme is used.

[2020-09-16 22:52] AtomToast commented on #453
Have you just considered letting the users define colors for the application on their own? Maybe even with 256 or truecolor support.

However I am aware that the application currently doesn't appear to have any kind of config file. Which is why I suggested xresources, however this probably isn't perfect either, since some people may be running wayland or no graphical server at all

[2020-09-21 09:14] zdenek-crha commented on #453
I would second the request to make color scheme configurable. I use terminal config with bright background and there are parts of the tui that are not only **hard to read**, but **impossible** to read:

![git-bug_ui_on_bright_bg](https://user-images.githubusercontent.com/35028759/93748708-fd65f480-fbf8-11ea-891f-cf54e022d955.png)

That black rectangle in the screenshot above contains text "No desc

[2020-09-21 09:18] MichaelMure commented on #453
One thing that could be tried before thay is to always set both foreground and background color, and not use the "default" color.

[2020-09-21 09:30] zdenek-crha commented on #453
@MichaelMure That could work.

The only thing I would be worried about is default terminal bg color  'leaking' in places and causing patches and artifacts in display. Fixing all those leaks may be more expensive than implementation of color scheme loading. But there is no way to know if that happens without trying it out.

[2020-09-21 11:55] AtomToast commented on #453
I really like the first idea of zdenek. Foreground and background color aren't always reliable since for example in my colorscheme (monokai) both the foreground color and the blue are bright colors

[2020-09-21 12:09] MichaelMure commented on #453
@AtomToast have you tried #457 ? Could you show what it looks like for you?

I'd be happy to have a way to configure those colors, I just don't have the bandwidth to take care of it. Now, another problem on the horizon is that access to git is being migrated to `go-git` instead of launching `git` CLI commands, and `go-git` does not read the global config file at all :-|

[2020-09-21 13:04] MichaelMure commented on #453
Although it would be possible to still use the git CLI to read the global config. I guess I can live with that little mess.

[2020-09-21 14:03] AtomToast commented on #453
![image](https://user-images.githubusercontent.com/27757087/93775814-65750480-fc12-11ea-8976-1eb272419b72.png)
as far as I can tell there is no difference for me in his branch. However from just randomly changing the `BlueBg` to `YellowBg` in `termui/help_bar.go` it already becomes much more readable. At least in my colorscheme.

![image](https://user-images.githubusercontent.com/27757087/93776508

[2020-09-21 21:17] 6543 commented on #394
instead of what you did with jira, I'm also interested to have a go-lib to Sourcehut for the Gitea migration tool (https://github.com/go-gitea/gitea/issues/8689)

does somebody actually have started creating one?

[2020-09-27 11:38] MichaelMure commented on #453
#457 is merged, which should improve things a bit.

This particular problem is fixed in #412 (soon to be merged) so it will still be possible to read the global config and thus implement a configurable color scheme.

[2020-09-30 01:24] 6543 commented on #349
I might have a look at this ...

[2020-10-04 19:47] njjerrysmith opened #461 "rm command doesn't exist"
Just used brew to install git-bug 0.7.1 and like (https://github.com/MichaelMure/git-bug/pull/433#issuecomment-665019422) I made a test bug and went to delete it.

Found all the references to the command through the repo, but `commands` or `help` doesn't show the command. And trying to call it suggests `ls`.

<img width="1437" alt="Screen Shot 2020-10-04 at 2 45 00 PM" src="https://user-images.git

[2020-10-04 19:59] MichaelMure commented on #461
The `rm` command is in the unstable version but you will have to wait for a release to use it.

If it's a problem, you can remove the reference manually in `.git/refs/bugs/...`

[2020-10-04 19:59] #461 closed

[2020-10-05 21:28] ManPython opened #462 "git-bug and VSC - visual studio code"
Any plans to made some plugin add-in for VSC? ;)
Exist this type? Was any ideas?

[2020-10-05 21:34] MichaelMure commented on #462
That doesn't exist at the moment. You are more than welcome to build one, either by interfacing with the CLI tools or through the GraphQL API.

It is way out of scope for me as my plate is more than full already.

Closing as it's not an actual issue.

[2020-10-05 21:34] #462 closed

[2020-10-10 17:54] alonzosteger121 opened #464 "Network IP Scanner-Traceroute"
Network IP Scanner Traceroute

2020-10-10 13:53:17

IP: 192.168.0.7/24 (wlan0)
External IP: 5.62.***.***
SSID: ARRIS-E382
DNS 1: 75.76.160.1
DNS 2: 75.76.160.2
DHCP Server: 192.168.0.1
DHCP Lease: 1209600 s
Mode: WiFi (39 Mbps)
---------------------------------

Traceroute to 192.168.0.10

#1
IP : 192.168.0.10
Host : 192.168.0.10
Responsed : 6 ms
<-------------------------------------------->

Gen

[2020-10-12 02:02] alonzosteger121 opened #465 "Ghh"
https://github.com/Prooffreader/Baby_names_US_IPython/issues/1![Screenshot_20201011-220048.png](https://user-images.githubusercontent.com/72305045/95697635-65fb2c80-0c0d-11eb-87da-cbd068cb9180.png)

[2020-10-12 06:25] #465 closed

[2020-10-19 09:58] jeyj0 commented on #373
As a suggestion: I would vote for not distinguishing between issues and pull-requests, and instead allow converting an issue to a pull-request. Once the issue has been talked about, someone usually goes and implements something for it. Moving context to somewhere else doesn't seem intuitive (even though github, gitlab and gitea handle it this way). Mailing-lists don't have this distinction, and it

[2020-10-22 16:09] theWebalyst opened #470 "A bug/issue created before import is oldest in order even though it has most recent date"
While trying git-bug out I did the following:
- installed the 0.7.1 binary
- checked out the different UIs
- created a local test repo by cloning https://github.com/github-tools/github
- in that repo, used `git-bug add` to create a new bug report/issue
- imported the >600 issues from https://github.com/github-tools/github
- listed the issues using the git-bug CLI and webui and in both cases the ne

[2020-10-22 19:07] MichaelMure commented on #470
It does look a little odd in this scenario but it actually make sense because bugs get ordered by time of creation *in git-bug* (either on your repo or a remote one, but github is not part of that). When you imported from github, you created new bugs *after* the first one.

I'm all for improving the documentation but I'm not sure how to document those kind of small oddities without flooding the im

[2020-10-22 19:07] #470 closed

[2020-10-22 23:24] r14c commented on #454
no i mean a completely static export that doesn't rely on a web server for anything other than serving static files.

[2020-10-23 11:08] #464 closed

[2020-10-24 17:35] 6543 commented on #315
github return information about rate limit and when it's  allowed to call the api next, so look at this vaule and wait based on that ...

[2020-10-25 12:04] theWebalyst commented on #373
FYI I understand that github uses the same underlying structure for issues and pull requests.

Whether to follow that approach or not I have no idea, but might make it easier for `git-bug`.

[2020-10-25 14:45] Aspie96 commented on #373
I fully agree that support for PRs would be a great feature

[2020-10-25 16:06] SoniEx2 opened #475 "How do users submit bugs?"
When you put bugs in git, it's kinda hard to push them to someone else's repo. How does this project handle that?

[2020-10-25 16:10] MichaelMure commented on #475
Please have a look at the workflow section in the readme. Let me know (and reopen) if that doesn't clear up things.

[2020-10-25 16:10] #475 closed

[2020-10-25 16:18] SoniEx2 commented on #475
It didn't. It seems like it's not supported?

Uh, do you think you could use something like @ganarchy to make it supported?

[2020-10-25 16:23] MichaelMure commented on #475
If you are talking about people with git access, you can push/pull to a git remote you have access to. Most of the time you would use the same remote as you are using to collaborate on code.

If you are talking about people external to the project, the goal is to have the webui act as a portal with external authentication.

Isn't that enough?

[2020-10-25 16:27] SoniEx2 commented on #475
... not quite?

it's (still) too centralized.

[2020-10-25 16:30] MichaelMure commented on #373
The first step would be to figure out a data model for a PR with full history, and if possible a data model that is compatible with the github, gitlab and friends.

Next step is to express that data model into operations on a state (the data model), the same way a bug in git-bug is a series of operations. Then we can start implementing that.

Having PRs being enhanced bugs (that is sharing the sam

[2020-10-25 16:37] MichaelMure commented on #475
Every system made for people to interact will need some form of infrastructure. I believe that's not a problem on it's own as long as you can adapt that infrastructure and keep full control of your data.
Regarding git-bug, there is different ways to make it less reliant on ... git I suppose? git-bug could be combined with other initiatives to make git use IPFS or other decentralized data network.

[2020-10-25 16:38] SoniEx2 commented on #475
it'd be cool if this repo and this repo's issues were both on @ganarchy. you don't have to move the repo or anything, just create a simple commit. I've wanted to do something like this (federated issue tracker) with ganarchy anyway but wasn't sure how to do it, and building upon an existing framework/workflow/design (like your project) seems like a good idea?

[2020-10-25 16:38] MichaelMure commented on #434
`master` now use go-git with a dedicated keyring. This issue is no longer a concern.

[2020-10-25 16:38] #434 closed

[2020-10-25 16:48] MichaelMure commented on #475
I can't say if that make sense, I don't understand what ganarchy is.

[2020-10-25 16:54] SoniEx2 commented on #475
GAnarchy is basically this: https://github.com/MichaelMure/git-bug/network

but with 3 key differences:

1. across websites/hosts
2. with no concept of an "upstream" repo
3. without javascript

and GAnarchy attempts to encourage users to use this for development, instead of the pull request model. you can still accept pull requests and email patches tho.

[2020-10-26 21:56] xloem commented on #416
@MichaelMure The @git-bug organisation is available to register now.

[2020-10-26 22:30] MichaelMure commented on #416
@xloem thanks for the heads up ! https://github.com/git-bug

[2020-10-26 22:31] MichaelMure commented on #416
I'm quite curious how that happened.

[2020-10-26 23:23] theWebalyst commented on #416
Great news!

@tbm @MichaelMure how did you request release of an inactive name? There's one I'd like because I use it in lots of places which has been inactive for several years.

[2020-10-26 23:34] MichaelMure commented on #416
@theWebalyst you can ask the github support but don't get your hopes too high, they probably won't do it if there has been any activity on that account before.

[2020-10-26 23:38] xloem commented on #416
I took the time to check, but I don't know how it happened.
I was guessing the owner released it after eventually noticing some communication from someone.

[2020-10-27 08:57] nettnikl opened #477 "[gitlab] Adding bridge fails"
I recently found this project and found it to be a perfect candidate to backup projects from a gitlab instance i will soon lose access to.
I've had unrelated problems with the latest release, so i chose to use the current git version.
But i found it hard to add the bridge authentification to the config in this version (In the release version this did work).

Release:
[code]

Git version:
[code]

I

[2020-10-27 11:58] Irubataru opened #478 "Show github issue ID"
Is there any way that git-bug can show the github issue ID when it fetches the issues? I understand that supporting native commit tagging in git-bug itself is hard (issue #18) but it would be nice if we at least could get what ID github has assigned to the issue so that I can reference the issues in git commits and comments without having to open github.

[2020-10-27 12:26] MichaelMure commented on #477
Hmm, when switching from the last release to master, did you use `git-bug-migration` ?

[2020-10-27 12:38] MichaelMure commented on #478
Are you talking about showing the github ID when doing a `git bug bridge pull` or later when you display/edit an issue?

[2020-10-27 12:40] MichaelMure commented on #477
If yes, it was likely https://github.com/MichaelMure/git-bug-migration/commit/e246349018619cec4245f84c8404e66aeb559d52

In that case, you can delete `~/.config/git-bug/keyring` (assuming linux, not so sure where it would be otherwise) and run the updated migration tool again.

[2020-10-27 12:41] Irubataru commented on #478
It would be most useful to show it when displaying or editing an issue. Because then, if I am working on a terminal only remote machine I could simply do a `git bug show` (or `git bug termui`) to see what issue # I need to reference in my commit to address an issue. So ideally it would be part of the issue metadata, like an "issue bridge ID" or something along those lines.

[2020-10-27 12:48] 6543 commented on #478
@Irubataru so you mean the issue Index and not the ID :) - I know nit picking

[2020-10-27 12:49] Irubataru commented on #478
For github's purposes isn't it the same thing? I wasn't aware that github issues has an ID other than the issue index.

[2020-10-27 12:51] 6543 commented on #478
https://developer.github.com/v3/issues/#response it's called ~~index~~ number :)

[2020-10-27 12:53] Irubataru commented on #478
I see. Anyway, I thought the idea could be generalised to other bridges as "how does the bridge reference this issue" is at could easily be a SHA etc with other bridges.

[2020-10-27 13:07] 6543 commented on #416
https://github.com/contact/report-abuse?report=git-bug  @MichaelMure ?

[2020-10-27 13:16] MichaelMure commented on #416
I did that a while back but Github refused ¯\\\_(ツ)_/¯

[2020-10-27 13:19] MichaelMure commented on #478
Each bridges, and the github one especially in this case store a bunch of metadata when importing an issue (see https://github.com/MichaelMure/git-bug/blob/master/bridge/github/import.go#L142-L143). So this could be exposed in the different UIs.

[2020-10-27 13:23] theWebalyst commented on #416
I've submitted s report for another account which has been inactive for almost six years, let's see what happens.

[2020-10-27 13:44] nettnikl commented on #477
Yes i did use `git-bug-migration`, and i am using linux. After deleting the files in the specified folder and reverting my changes, it did work as intended. Thank you very much for your help!
Should i report this as a bug in the migration tool then?

[2020-10-27 13:48] MichaelMure commented on #477
Nah, it's fixed (and released) already. Thanks for the report :)

[2020-10-27 13:48] #477 closed

[2020-10-27 14:34] Irubataru opened #480 "Cannot create bridge "user.name not configured""
I tried building from source because I wanted to see the changes from #372 (building 86faedc966), but when I then try to create a remote bridge through `git bug bridge configure` I get this error regardless of the fact that the user.name is set in my `.gitconfig` (it also worked in the latest release just now).

[code]

Also get it if I do the manual bridge config command.

Edit: It works if I con

[2020-10-27 15:48] nettnikl opened #481 "[gitlab] missing text cleanup for the title"
When importing issues via `bridge pull`, git-bug performs a string validation on the title and the message.
As not all gitlab instances perform this kind of validation, not all issues possible in gitlab can be imported as git-bug bugs.

For example control characters like U+007F can be used in a gitlab issue title, but the import fails with the message `title is not fully printable`.

A possible w

[2020-10-27 16:05] xloem commented on #416
Just clarifying that michaelmure @'d the account, which probably left an old email in the owner's inbox.

[2020-10-27 16:12] MichaelMure commented on #481
This should be pretty easy to fix. The gitlab bridge does cleanup the description of an issue but the same is missing for the title.

See https://github.com/MichaelMure/git-bug/blob/master/bridge/gitlab/import.go#L141

[2020-10-27 18:29] happybeing commented on #416
Bingo, I'm now @happybeing on github as well as many other places (and have @theWebalyst to stop impersonations)!

I'm not sure what this breaks!

[2020-10-28 15:48] joeytwiddle opened #484 "[github] Auth endpoint is being EOL november 13"
I just tried git-bug today, and the github bridge helped set up authentication for a private repository. But I got this email, and it looks like bad news:

Sorry to be the bearer!

[2020-10-28 16:02] MichaelMure commented on #484
Yeah, that's no fun.

My understanding is that git-bug need to implement the following flow: https://docs.github.com/en/free-pro-team@latest/developers/apps/authorizing-oauth-apps#device-flow

That seems doable with a limited scope of changes. Any takers?

[2020-10-28 16:10] MichaelMure commented on #484
Current flow is over here: https://github.com/MichaelMure/git-bug/blob/master/bridge/github/config.go#L172-L366

[2020-10-28 23:13] rng-dynamics commented on #484
I would like to take the issue. Don't expect me to finish the issue very fast, though.

[2020-10-28 23:34] MichaelMure commented on #484
Yes please!

[2020-10-29 20:25] erazemk opened #486 "Fish completion not working"
Fish completion for git-bug doesn't seem to work for me.
Since it wasn't even listed in the readme I assumed there wasn't a completion script available and have started working on my own version, but then I found it in the repository.

Is the script just a work in progress or should it work properly and this is an actual bug?

[2020-10-29 20:27] MichaelMure commented on #486
Are you using the one from the released version or from master? Completion scripts are generated by the library handling the CLI commands, cobra. They recently updated the fish generation IIRC.

[2020-10-29 20:28] erazemk commented on #486
The released version for Fedora (git-bug v0.7)

[2020-10-29 20:37] erazemk commented on #486
Still doesn't work when built from the latest master branch.
Would it make sense to manually maintain the completion?

[2020-10-29 20:54] MichaelMure commented on #486
Could you try if it works for `git-bug` instead of `git bug`? A little wrapper had to be written for bash.

[2020-10-29 20:55] erazemk commented on #486
Doesn't work for me (neither bash nor fish).

[2020-10-29 20:55] erazemk commented on #486
Do completions work on your PC?

[2020-10-29 21:23] MichaelMure commented on #486
Completion for bash works, but I never used fish. There might be extra steps to take for fish: https://github.com/spf13/cobra/blob/master/shell_completions.md

[2020-10-29 21:35] erazemk commented on #486
You mean on the user's side or on the cobra side? Because completion for other commands works without specific configuration.

[2020-10-29 21:38] MichaelMure commented on #486
I was thinking git-bug/cobra side, but I only skimmed this document.

[2020-10-29 21:42] erazemk commented on #486
Hmm, I haven't used cobra before so I don't think I'll be able to do much here.
Since this probably won't get updated until someone contributes to it, should we close the issue?

[2020-10-29 21:49] MichaelMure commented on #486
I mean, the fish completion of cobra is supposed to work, but there might be extra things to do on git-bug's command to have proper completion. if that doesn't work for you, something should be done.

[2020-10-29 21:55] erazemk commented on #486
Fair enough, thanks :)

[2020-10-30 03:50] krobelus commented on #486
That's fish's stock `git` completion.

After doing `source misc/fish_completion/git-bug`, completions for the literal `git-bug` command should work.
For example `git-bug brid<TAB>` should complete. However, I get an error with the script on master.
I might take a look. One problem is that `-` is not valid in fish's variable names. Probably an easy fix in Cobra.

[code]

Since https://github.com/fi

[2020-10-30 10:55] xloem opened #487 "Installation with `go get`"
I'm not too familiar with go, but I know I can install most apps from source by typing `go get` and the github url or a subfolder.  It's surprising to me that this doesn't work for this project.

Was this a design decision, or is it missing functionality?

[2020-10-30 12:40] MichaelMure commented on #487
What problem do you get? What go version?

[2020-10-30 12:42] MichaelMure commented on #486
Thanks @krobelus, that's very helpful.

[2020-10-30 15:34] xloem commented on #487
[code]

[2020-10-30 15:39] MichaelMure commented on #487
Would that work with `GO111MODULE=on go get github.com/MichaelMure/git-bug` ?

Note though that you won't have a proper version backed in, as this is done in the makefile.

[2020-10-30 15:42] xloem opened #488 "Inaccurate username error breaking bridge configuration"
Trying to configure my first bridge, using and inside git-bug master:
[code]

[2020-10-30 15:48] xloem commented on #487
It installs fine with that environment variable set.  Thanks.  I'll let you close the issue if you consider that sufficient.

[2020-10-30 15:50] xloem commented on #488
duplicate of #480

[2020-10-30 15:50] #488 closed

[2020-10-30 19:44] xloem commented on #480
right; it is checking the repository-local username in .git/config, but the error message says to set the global one, so following the instructions doesn't resolve the issue.

[2020-10-30 20:48] xloem opened #489 "feature: basic pipe bridge"
It would be nice to have an all-purpose cli bridge that accepts maybe http://ndjson.org/ or somesuch, for export and import of bugs, and so that users can write small special-purposes bridges in their familiar languages.

[2020-10-30 20:57] xloem commented on #489
a bridge to https://github.com/driusan/bug (which follows https://github.com/driusan/PoormanIssueTracker ) or https://github.com/dspinellis/git-issue or somesuch might work here instead of pipes, too

[2020-10-31 13:29] #487 closed

[2020-10-31 13:31] MichaelMure commented on #486
@krobelus could you open an issue for that problem at https://github.com/spf13/cobra? Looks like it could be easily fixed.

[2020-10-31 13:38] MichaelMure commented on #489
Could you detail a bit this idea? Not sure I follow.

If you are talking about a tool to transfer issues from say, github to gitlab, to me it would be outside of the git-bug scope. That said, it's possible as an external project can import git-bug as a library and just do that.

[2020-10-31 13:43] #480 closed

[2020-10-31 16:25] krobelus commented on #486
Turns out this is already fixed in Cobra v1.1.0 (via https://github.com/spf13/cobra/pull/1122), so we should upgrade to the current v1.1.1.

[2020-10-31 17:11] xloem commented on #489
I'm looking for a way to import (possibly also export) the contents of a git-bug repository, from arbitrary new archive formats.  My use case at the moment is recovering github issues from the gharchive event logs, but it seemed the niche of making a general user interface for import or export was missing.  git has `git-fast-import` and `git-fast-export` for this.  They read or write to pipes in a

[2020-10-31 17:50] MichaelMure commented on #486
I'm a bit confused, current master does use cobra v1.1.1 and the completion script doesn't change after a `go generate` Were you just using an older master?

[2020-11-01 06:34] krobelus commented on #486
OMG, my bad, I was on an old version indeed. This can be closed.

To sum up, when using the development version you can do this to enable fish completions:

[code]

OS-specific packages should already do that. I'm not sure if there is an accepted way for `go install` to install such support files.

[2020-11-01 18:14] rng-dynamics commented on #484
It seems like we need to have a **client_id** from Github in order to user their OAuth authorization (as described in https://docs.github.com/en/free-pro-team@latest/developers/apps/authorizing-oauth-apps#device-flow).

@MichaelMure: Do you have one?
If not, do you want to register an app for the git-bug organization as descirbed at https://docs.github.com/en/free-pro-team@latest/developers/apps/c

[2020-11-01 18:24] MichaelMure commented on #484
I don't have one, but I'll make one.

[2020-11-01 18:27] MichaelMure commented on #484
Any idea what I should have as Authorization callback URL ?

[2020-11-01 18:39] MichaelMure commented on #484
Alright, I set that url to `http://example.com`. I believe it's not useful for the device flow. I also opted in for the device flow.

Client Id is `ce3600aa56c2e69f18a5`.

That said, you might want to create an app on your account while you develop that thing, so you can see what is hapenning.

[2020-11-01 18:40] rng-dynamics commented on #484
Thanks

[2020-11-01 18:56] MichaelMure opened #493 "Enhanced shell completion"
Cobra, the library used to implement the CLI commands also generate the shell completion scripts, for bash, zsh, fish and powershell. This completion scripts are based on the description of each commands (living in https://github.com/MichaelMure/git-bug/tree/master/commands).

At the moment, those completion works decently, completing command names and flags. However it would be possible to do bet

[2020-11-01 18:59] MichaelMure commented on #486
Well, to be fair, I merged that PR 5 days ago, that's easy to miss.

`go install` will only care about the go binary, it's not meant to be a complete way to install something. The makefile could be smarter but let's not try to re-implement the autotools. This should be left to packagers imho (although a better user installation doc would be nice).

BTW, I believe the fish completion could be made

[2020-11-01 18:59] #486 closed

[2020-11-01 23:30] basxto commented on #366
I did not get an error, but duplicated issues and comments happen for me on github too.
All issues and comments created with `git bug`, they got duplicated after pulling what I pushed before.
The exporter does not push the duplicates again.

[2020-11-03 21:21] MichaelMure commented on #212
@joeytwiddle thanks, it's a cool talk.

However it doesn't apply here. The whole point of this talk is to present the blockchains concept from the ground up. So, when reaching the point of merging the conflicts, the proposed solution is to accept both version, let them grow and consider valid only the longest chain. It's a valid way to do things but has a major drawback: it means that the loosing

[2020-11-03 22:13] happybeing commented on #212
Hi Michael, I've only just read the OP and skimmed the comments but recognise the issue as it is key to my use case of a p2p hosted git portal based on git-bug.

It's an area I believe can be solved although I've not gone into detail yet. With Safe Network which is my primary target, some of these issues are solved for us (identity for example). One issue we're left with is how to manage things li

[2020-11-12 17:16] vtexier commented on #59
My git-bug  choose the same color for two labels on a total of three labels!

![Capture du 2020-11-12 17-10-42](https://user-images.githubusercontent.com/2174016/98966298-65ef9480-250b-11eb-972d-23f9c1ce4108.png)

A silly idea: replace or add to colors a special character symbol.

Color blind people, and others could distinguish issues more easily...

[2020-11-13 03:49] philpennock opened #497 ""fatal error: concurrent map writes" in go-git"
I today rebuilt from source, using Go 1.15.5, and pulling git-bug to update `324fe3b..25b0c71`; I then installed the migration tool and used that.

The `git bug webui` command works in a repo with no bugs.
If there are bugs, the command crashes with: `fatal error: concurrent map writes`

I could use upstream binaries or build with a different version of Go, but after checking to make sure this was

[2020-11-13 10:15] vtexier commented on #275
Milestone feature might be like the tag feature to implement, with the exception that you can have only one milestone on an issue.

And may be that you can open/close milestones to get rid of the old ones on display...

[2020-11-14 18:22] MichaelMure commented on #497
Looks like a non-threadsafe map access in go-git, I'll open an issue.

[2020-11-14 18:27] MichaelMure commented on #497
https://github.com/go-git/go-git/issues/208

[2020-11-14 18:29] MichaelMure commented on #497
So it probably has nothing to do with having no bug, but it looks like you have 1) a repo packed with `git gc` and 2) somehow managed to trigger a concurrent access with the right timing to the same identity.

[2020-11-15 19:50] philpennock commented on #497
Hrm, I have lots of garbage-collected repos; for some it will be automatically triggered, for others it will have been part of a habitual cleanup when spring cleaning.  But for (2) : every single run, in every repo I had, triggered this.  When I rebuilt with older Go, that stopped.

Thanks for chasing!

[2020-11-15 21:13] MichaelMure commented on #497
Now that is very weird. Could you detail the versions?

[2020-11-17 13:00] #481 closed

[2020-11-17 13:35] #342 closed

[2020-11-17 13:37] MichaelMure commented on #342
Hey people, it's working now ! Thanks @skmgoldin !

[2020-11-18 20:16] philpennock commented on #497
Go 1.15.5 for the race bugs surfacing, Go 1.14.12 for the bugs not surfaced.

<details><summary>go version -m git-bug</summary>

[code]
</details>

[2020-11-22 15:14] MichaelMure commented on #484
Fixed with #496 :tada: .
The annoying thing though is that we can't release a new version at the moment.

[2020-11-22 15:14] #484 closed

[2020-11-22 21:43] xloem commented on #489
#501 appears to address the exporting half of this wonderfully.  Github ended up reopening the repository I was trying to recover from archive, so I no longer personally need this.  Closing since nobody else has requested it.

[2020-11-22 21:43] #489 closed

[2020-12-04 19:10] Jefficus opened #509 "Feature: default filters"
As a one-man shop, I'm using git-bug to track bugs, feature ideas, deployment issues, and even marketing tasks. So with about 200 items now in my bug list, the biggest problem for me is the ability to focus. I tag all my entries with the appropriate categories, and I currently filter on the fly, but as I ability more categories of issues, the list of filters I need to apply to every command is get

[2020-12-08 23:56] #394 closed

[2021-01-04 02:22] dpavlic opened #522 "Delete issues referenced on remote"
Apologies if I'm missing something obvious.

A bunch of entries got duplicated for an unknown reason when using github bridge. It doesn't really matter--I thought it best to start anew. I deleted the bridge, removed all bug refs locally and removed the cache. I pruned the remote. Then did a git bug pull and... all the issues got recreated. Obviously I'm missing a step to get rid of remote issues,

[2021-01-04 02:37] dpavlic commented on #522
OK, I figured it out in case anyone has the same issue:

1. Delete the local references + cache.
2. Delete each bug reference via `git push --delete <remote> bugs/HASH`
3. Prune

All good now.

[2021-01-04 02:37] #522 closed

[2021-01-13 21:23] claudioantonio commented on #158
Hi @MichaelMure , @cheshirekow and @hoijui .
Any news about this feature? I'm interested to help. ;-)

[2021-01-14 00:25] MichaelMure commented on #158
@claudioantonio no one is working on this at the moment, so feel free to take a stab at it! Much appreciated.

[2021-01-14 03:58] claudioantonio commented on #158
Ok @MichaelMure . I'll take a look at the [work started](https://github.com/cheshirekow/git-bug/tree/cheshirekow-webui) by @cheshirekow .

[2021-01-14 23:50] claudioantonio commented on #158
@MichaelMure to start the backend is cygwin sufficient to exec the makefile?

[2021-01-15 15:05] MichaelMure commented on #158
@claudioantonio as you likely won't change the graphQL API, you can use your regular git-bug binary. No need for cygwin or anything, just the classic web dev tools like `npm`.
There is a dedicated Readme to explain the process (again, you don't even have to compile git-bug yourself here): https://github.com/MichaelMure/git-bug/blob/master/webui/Readme.md

[2021-01-15 15:07] MichaelMure commented on #158
As you will see, adding a comment already works, but there is plenty of features missing compared to the CLI. Pick what itch you the most ;)

[2021-01-15 23:25] krisfris opened #527 "'Error: strconv.Atoi: parsing "": invalid syntax' after running out of space"
Just ran out of hard drive space, tried running `git bug add` and now it returns this error for every command even though I freed up enough space.

[code]

Is there a way to recover?

[2021-01-16 11:50] MichaelMure commented on #527
There is not much of those `strconv.Atoi` in the code base. I'd say you have a broken lock file (`.git/git-bug/lock`) or a broken git config.

[2021-01-16 14:13] krisfris commented on #527
You're right, after I deleted `.git/git-bug/lock` it's working again. It was an empty file. Thanks!

[2021-01-16 14:13] #527 closed

[2021-01-19 22:04] Ogguz commented on #493
I want to work on this

[2021-01-19 22:19] MichaelMure commented on #493
Yes please!

[2021-01-22 23:13] claudioantonio opened #528 "CLI - Little spelling mistake is shown in the console when git-bug.exe is executed without args"
See the red balloon in the attached image.
The correct word would be YOU instead of YOUR, isn´t it?
At the end of the same paragraph PEOPLES should be PEOPLE.

![little spelling mistake](https://user-images.githubusercontent.com/12503122/105558794-35d42700-5cee-11eb-971b-a2c3492748bc.png)

[2021-01-22 23:16] claudioantonio commented on #528
I tried to define labels (CLI, questions) but they were disabled to me.

[2021-01-22 23:42] claudioantonio opened #529 "CLI - When user runs git-bug in a repo without an identity set, the orientation message can cause confusion"
The orientation message could be:

Instead of:

This can avoid a first interpretation that a git command must be executed. I swear a did not think it but... :-)
![termui](https://user-images.githubusercontent.com/12503122/105560736-75514200-5cf3-11eb-8cee-20525e63853f.png)

[2021-01-23 09:51] claudioantonio commented on #497
@MichaelMure and @philpennock Is it really a webui bug or webui is only revealing a side effect of a bug in another component? 🤔

[2021-01-23 23:38] claudioantonio commented on #158
Does the image below represent a good enough solution?

The changes will be:
1. Filter label added - left aligned
2. Filter input text aligned to the left
3. Green "New issue" button added aligned to the right like github UI for issues feature

![gitbug suggestion](https://user-images.githubusercontent.com/12503122/105617063-f1628d00-5dba-11eb-8729-f45297fb9fac.png)

[2021-01-24 00:22] MichaelMure commented on #158
That's neat :)

[2021-01-24 00:23] MichaelMure commented on #528
I think you are correct. Can you open a PR?

[2021-01-24 00:34] MichaelMure commented on #529
Hmm I dunno. I believe it's better to be consistent than slightly misleading in this case. All the documentation is written based on the idea that git-bug integrate with git as a subcommand, that is `git bug ....`.

I've been thinking about dropping out of that system and rename the binary into `gb` (see https://gitter.im/the-git-bug/Lobby?at=5fa13ba92a35440715011eb8) but we are not there yet.

[2021-01-24 00:36] MichaelMure commented on #497
That's a bug in the go code, either in git-bug itself of one of its dependency. Nothing to do with the webui, but the webui might trigger it (and crash the server side running the GraphQL API).

[2021-01-24 11:22] MichaelMure opened #530 "CLI namespace revamp"
I've been thinking about dropping out of the git porcelain CLI integration (meaning  that `git bug xxx` would stop working, in favor of directly using `foo xxx`). This integration is fun but actually doesn't bring much positive to the table. It does though bring possible confusion and, more importantly, way longer commands to type.

Additionally, when future new entities get added (say, pull-reque

[2021-01-24 11:41] MichaelMure commented on #497
Some solutions are discussed in https://github.com/go-git/go-git/pull/175 and https://github.com/go-git/go-git/pull/186.

[2021-01-24 13:19] krobelus commented on #493
As a first step, I have added bug ID completions. They work well in fish, I'm not sure how to make completions work in zsh.

[2021-01-27 22:53] claudioantonio commented on #158
Hi @MichaelMure !
I´m studying about GraphQL and Apollo to be able to finish issue creation.
I´m trying to use Insomnia (app similar to Postman) to make a simple GraphQL query but the answer is always an error message. 😠

Insomnia can fetch git-bug schema (so connection to server is fine) and I used the autocomplete feature to write the query (so no misspelling) but I did not get a successful resp

[2021-01-28 11:55] claudioantonio commented on #158
Hi @MichaelMure !
I read about GraphQL and I did the Apollo tutorial. I had no previous experience with GraphQL before.
I´m already able to create new bugs from the git-bug API using Insomnia (an app like Postman). See image below.
![image](https://user-images.githubusercontent.com/12503122/106135055-27e73180-6146-11eb-9308-308cf8beeed7.png)

However, I´m having problems to execute the same GraphQ

[2021-01-28 12:24] MichaelMure commented on #158
Sure, but react is not really my area of expertise.

If that helps, git-bug also has a built-in GraphQL playground when you start the webui: `http://127.0.0.1:44159/playground`

[2021-01-28 12:36] claudioantonio commented on #158
Hi @MichaelMure !
Wow! I liked the playground a lot. ;-)

Sorry for the lack of the error message in the last comment.
![image](https://user-images.githubusercontent.com/12503122/106139473-3d5f5a00-614c-11eb-8080-e36f0904760c.png)

[2021-01-28 13:04] MichaelMure commented on #158
That looks like a [HTTP error](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/422), maybe looking at the network debugger in your browser would help?

[2021-01-28 23:59] claudioantonio commented on #158
Problem solved @MichaelMure !

It was a little bit frustrating that a code generator make it work automagically adding just one file but...
c'est la vie.. 😃 Probably was something related to return object type conversion.
I will improve the Readme file with the lessons learned during this issue to give quick context for graphql begginer´s, like me.

Can You edit this issue title to "WebUI - Allow

[2021-01-29 06:59] MichaelMure commented on #158
Done. Feel free to open more issues for the other parts (or straight up a PR :-D)

[2021-01-29 10:59] claudioantonio opened #535 "WebUI - Allow to change a bug title"
Today when We select a bug It´s only possible to add comments but in the same page should be possible to change bug title too.

[2021-01-29 11:47] claudioantonio commented on #158
@MichaelMure what considerations about permissions should I consider?
Who can create or edit a bug?
I found a component that checks if the user is logged in to decide if comments can be added or not. About what kind of login are talking about? 🤔

[2021-01-30 11:28] claudioantonio opened #539 "WebUI - Change button "Comment" style in the bug details page"
Button must be green like "New issue" and "Submit new issue" buttons.

[2021-01-30 16:27] MichaelMure commented on #315
So apparently it's possible to query the rate-limiting values alongside the data we care about: https://docs.github.com/en/graphql/overview/resource-limitations#returning-a-calls-rate-limit-status

From that, it should be possible to be smarter about it.

[2021-01-30 17:25] 6543 commented on #315
example code:

https://github.com/go-gitea/gitea/blob/fcfbab99fcb1915b96b4214300e32535d0005446/modules/migrations/github.go#L170-L179

https://github.com/go-gitea/gitea/blob/fcfbab99fcb1915b96b4214300e32535d0005446/modules/migrations/github.go#L116-L131

[2021-01-31 20:09] MichaelMure commented on #315
According to the automated test, github seems to become more and more sensitive about this issue ...

[2021-01-31 23:38] claudioantonio opened #541 "WebUI - Layout folder should be inside Component folder because It encloses a component responsible for building the header presented in all pages"
My suggestion is:
/layout - only react reusable components (UI) with no GQL involved.
/components - Only reusable components with GQL involved. Each component in its own folder to group tsx file and the corresponding gql file.

IMHO this suggestion will communicate fast and clear where each type of artefact must be stored.

[2021-02-01 10:56] MichaelMure commented on #158
@claudioantonio sorry I missed that one.

At the moment, anyone can create and edit any bugs (including comments they are not the author of). This should change in the future once the identity system become smarter. For now, maybe it's best to match whatever is possible in git-bug core?

Regarding the authentication, there is three different scenario:
- the user might might not have an identity ye

[2021-02-01 10:59] MichaelMure commented on #158
So in the react code, the write-enabled part of the UI are guarded with the `IfLoggedIn` component.

[2021-02-02 12:04] claudioantonio commented on #535
Once user select a bug, the details page will be presented and a new button "Edit" will be visible
![image](https://user-images.githubusercontent.com/12503122/106597534-534a9180-6535-11eb-9732-18e21ab946e6.png)

When We click on Edit button, the bug title become editable and two buttons appear: Save and Cancel
![image](https://user-images.githubusercontent.com/12503122/106597668-7b39f500-6535-11eb

[2021-02-02 12:06] claudioantonio commented on #539
@MichaelMure I think this issue can be closed. ;-)

[2021-02-02 12:07] claudioantonio commented on #158
@MichaelMure I think this issue can be closed. ;-)

[2021-02-02 12:08] claudioantonio commented on #158
@MichaelMure I will create a issue to handle specifically this permission question. ;-)

[2021-02-02 13:00] claudioantonio opened #543 "WebUI - Protection for all write-enabled parts of the UI with IfLoggedIn component"
What considerations about permissions should I consider? Who can create or edit a bug?
I found a component that checks if the user is logged in to decide if comments can be added or not. About what kind of login are We talking about? 🤔

**MichaelMure commented:**
At the moment, anyone can create and edit any bugs (including comments they are not the author of). This should change in the future onc

[2021-02-02 13:04] claudioantonio commented on #535
@MichaelMure 2 questions:

1. Does the screenshots look good for You?
2. In the detail page Do You expect a new issue button like github?

[2021-02-02 13:08] MichaelMure commented on #535
1. Looks good to me. Buttons are maybe a bit big / too visible?
2. Yeah, that'd be nice.

[2021-02-02 13:08] #539 closed

[2021-02-02 13:10] MichaelMure commented on #539
FYI, in your PRs your can comment with `fix #539` so that the issue is closed automatically when merged.

[2021-02-02 13:13] MichaelMure commented on #543
From the webUI perspective, all those scenario don't matter really (well, at least until external auth is accepted but we are not there yet). The only concern is if there is a logged used, as defined by `Repository.userIdentity` in GraphQL.
- if there is a user, the UI is read/write
- if there is no user, the UI is read-only

[2021-02-02 13:27] claudioantonio commented on #539
Thank You for the advice! I will pay attention to that next time. ;-)

[2021-02-02 13:32] claudioantonio opened #544 "WebUI - Allow to create new bug in the bug detail page"
Sometimes when reading a timeline we detect is necessary to create other issues. So this feature will make it more agile than force user go back to the list page to create a new issue.

[2021-02-02 17:58] claudioantonio commented on #535
1. Ok, I fixed to size=small. ;-)
![image](https://user-images.githubusercontent.com/12503122/106642420-16978e00-6567-11eb-8517-0e01a7b92648.png)

2. I created an issue for it.

[2021-02-02 18:23] #535 closed

[2021-02-02 18:43] claudioantonio commented on #544
Here it is!
![image](https://user-images.githubusercontent.com/12503122/106647187-5d888200-656d-11eb-914f-66bbc14c7080.png)

[2021-02-02 18:55] claudioantonio opened #546 "WebUI - Allow to close an issue"
Just adding a button to allow users close an issue

[2021-02-02 18:57] #544 closed

[2021-02-02 19:38] claudioantonio commented on #546
On the bug details page, You will see a button "Close Issue"
![image](https://user-images.githubusercontent.com/12503122/106652660-88c29f80-6574-11eb-8a85-ea59e66f6eb8.png)

After click on that button, You will see an update in the timeline indicating the issue was closed.
![image](https://user-images.githubusercontent.com/12503122/106652804-bdcef200-6574-11eb-8f92-e61086235feb.png)

Back to the l

[2021-02-02 22:39] claudioantonio opened #548 "WebUI - Allow to reopen an issue"
Reopen or Close button is presenting at same position according with bug status
![image](https://user-images.githubusercontent.com/12503122/106680282-1b773480-659d-11eb-9c3d-6c9705dd6053.png)

[2021-02-03 20:47] claudioantonio commented on #543
@MichaelMure at the present moment It´s not possible to run git-bug backend in a repo without a user identity. I tried with no success. 😄
So how can We get the situation where Repository.userIdentity would be nil in GraphQL backend? 🤔

[2021-02-03 20:50] claudioantonio opened #551 "README - Update screenshots for WebUI"
Maybe just one animated gif presenting a simple use case like:
1. create an issue
2. add comment to issue
3. close issue

[2021-02-03 21:18] MichaelMure commented on #541
If that make sense for you, sure!

[2021-02-03 21:19] MichaelMure commented on #543
I believe starting the backend with `git-bug webui --read-only` will give you that behavior.

[2021-02-03 21:21] MichaelMure commented on #551
Good idea!

[2021-02-03 21:36] MichaelMure opened #552 "WebUI - update npm dependencies"
@claudioantonio could you update the NPM dependencies ? As you may have seen in the open PRs, some packages are outdated and have security issues (see #517, #520, #536).

[2021-02-04 00:58] #158 closed

[2021-02-04 01:22] claudioantonio commented on #541
I reviewed this code and now understand. The folder /layout, in fact, should be in /component/layout because It encloses a component called Layout to define the header of webui pages. The Layout component is referenced only by App.tsx.

Inside /layout we have IfLoggedIn component but this component is not used exclusively by Layout component, so It should be in its own folder inside /component (/c

[2021-02-04 21:42] claudioantonio commented on #552
Yes, @MichaelMure .

[2021-02-05 01:34] claudioantonio opened #553 "WebUI - Allow to Close and Comment an issue"
At moment the CloseButton is only enabled when there is no comment typed.

When You enter in bug details page, Close Button is enabled (because the textfield for comments is empty) and Comment button is disabled. When You type the first key in the textfield for comments, Close button become disabled and Comment button become enabled.

Github shows a "Close and Comment" button when the user starts

[2021-02-05 01:39] claudioantonio commented on #553
Can You tell me what use cases You think will be possible with multiple queries in one request?

[2021-02-05 09:38] #546 closed

[2021-02-05 09:42] MichaelMure commented on #553
You got me, I actually don't have much example for something else that would require multiple mutations. I would expect that the same need arise elsewhere when we add more features (pull-request ...).
In any case and more importantly, the UX/UI should not be made worse because of a technical limitation if we can.

[2021-02-05 11:20] claudioantonio opened #554 "WebUI - Bundle the compiled js into the go binary"
After You merge #548 can We bundle a new WebUI release into the go binary?

[2021-02-05 11:45] #548 closed

[2021-02-05 11:47] MichaelMure commented on #554
Sure thing but I'm not sure there is a point without also making a release (bug git-bug is not in a release state at the moment).
If you want to do that, you can run `make pack-webui` from the root and make a PR with the result.

[2021-02-08 08:35] #541 closed

[2021-02-08 11:03] Eluminae commented on #366
Thanks for the fix on the importer !

It seems there is still a bug on the exporter, somehow.

Pushing new bug or comment or edition (or I think anything) still give `exported 0 issues with foobar bridge`

[2021-02-08 11:54] 5nord commented on #366
I also noticed two issues:
* all imported issues are "open" (when doing a `git bug ls` or `git bug termui`).
* modified issues are not exported.

But those issues seem not to be related with the original importer issues and I have not figured the root cause, yet.

[2021-02-08 17:23] MichaelMure commented on #366
This is a known issue (although there is not one filed here). The problem is that the gitlab API changed and we don't have access to the history of state change anymore. See https://github.com/MichaelMure/git-bug/blob/master/bridge/gitlab/export_test.go#L245-L248

To be fair, it's not even a proper API. They call that "note", it's a sort of stream of untyped events. It was sort of enough at some p

[2021-02-08 17:27] MichaelMure commented on #366
Well, that was 7 months ago, maybe the API changed again?

[2021-02-08 17:52] 5nord commented on #366
Thank you for the context, Michael. I'll dig right into it. :-)

The GitLab issue API response seems to provide a `state: {open, closed}` field: https://docs.gitlab.com/ce/api/issues.html#single-issue. I could not find any references to a history, yet. However, I could imagine a single state without explicit history is sufficient for most use cases.

[2021-02-08 17:57] MichaelMure commented on #366
It would work (as in, you get the correct final state), but the history would be incorrect. That can be misleading and would definitely be seen as a bug.

[2021-02-08 18:02] 5nord commented on #366
Maybe I am still missing a point. Are you talking about the issue history on gitlab side? Do git-bug bugs also have a history?

[2021-02-08 18:09] MichaelMure commented on #366
git-bug has the full history of a bug (you can see it in the timeline: you can see, say, all the status change, not just the current state). Ideally, an importer would be able to import this full history to mirror exactly what happened on the remote tracker. The github importer does that, the Jira one as well, but gitlab doesn't provide a good enough API ...

[2021-02-08 21:42] claudioantonio opened #557 "WebUI - Improve instructions for front-end development in README"
Just adding more details and one tip. ;-)

[2021-02-09 08:32] 5nord commented on #366
I understand the issues with the GitLab API.

I might have an idea how to fix the missing history in gitlab importer: Since GitLab 13.2 there's a API for retrieving issue state changes.  When [my go-gitlab PR](https://github.com/xanzy/go-gitlab/pull/1062) is accepted, I'd like to handle state changes similar to label changes.

If this resolves any issue with exporting, I don't know, yet.

[2021-02-09 09:04] #543 closed

[2021-02-09 09:05] MichaelMure commented on #557
Done as part of #559

[2021-02-09 09:05] #557 closed

[2021-02-09 09:13] MichaelMure commented on #366
@5nord that's awesome! Any idea if a modern Gitlab also include new API to replace the usage of other "notes" we use in the importer? It works now but it's also quite unstable ...

[2021-02-09 09:32] 5nord commented on #366
It looks like it. However, I am not sure, because I am still familiarizing with git-bug and GitLab API.

[2021-02-09 16:40] bqv opened #561 "Error importing from github"
While trying to run bridge pull from github (nixos/nixpkgs)

Was told to include 8450:E73D:288B4F3:2CF6477:6022B965 when reporting.

Seemed to import a few issues and comments the first time, repeated attempts imported nothing and yield the same error.

[2021-02-09 16:41] bqv commented on #561
N.b. this was just me testing if #315 was still an issue

[2021-02-09 17:09] claudioantonio commented on #554
Based on the article below I tried to pack webui but have no success... :(
https://dzone.com/articles/makefile-command-in-windows

Error messages

PS D:\dev\goodfirstissues\git-bug-2> make pack-webui
**process_begin: CreateProcess(NULL, uname -s, ...) failed.**
npm run --prefix webui build

  √ Parse configuration
  √ Generate outputs
Creating an optimized production build...
Compiled successfully

[2021-02-09 20:27] MichaelMure commented on #561
Well, is it? ;-)

[2021-02-09 20:29] bqv commented on #561
Unclear, because I hit this bug :p

[2021-02-09 22:29] claudioantonio commented on #554
When I run make into webui folder the message is:
**PS D:\dev\goodfirstissues\git-bug-2\webui> make pack-webui                                                              make: *** No rule to make target `pack-webui'.  Stop.**

[2021-02-09 22:31] claudioantonio commented on #554
Makefile into webui folder really does not have this target pack-webui

start:
	npm start

install:
	npm install

test:
	npm run generate
	npm run lint
	CI=true npm run test

build:
	npm run build

lint:
	npm run lint

fix-lint:
	npm run lint -- --fix

[2021-02-11 19:12] claudioantonio opened #564 "WebUI - add prerequisites to README"
A proposal bringing some colors. ;-)

![image](https://user-images.githubusercontent.com/12503122/107686307-d2516f80-6c83-11eb-8af2-35950a74759c.png)

[2021-02-11 19:31] claudioantonio commented on #554
@MichaelMure I think that even if the Makefile had a target "pack-webui" It would be necessary to have Go installed in my machine to execute pack_webui.go, correct?

[2021-02-11 21:17] claudioantonio commented on #552
Pull requests #517 and #536 were merged.
I will test #520 asap.

[2021-02-12 11:25] claudioantonio opened #566 "WebUI - Add info in README that Go is necessary to be installed on dev machine to bundle a new release for WebUI into git-bug binary"

[2021-02-12 20:21] vmiklos opened #567 "Search by arbitrary metadata"
In case a bug is imported (e.g. from github), then git-bug knows that url, e.g.:

[code]

It would be nice if e.g. git bug ls could search in this metadata. So let's say I'm offline and I would like to look up https://github.com/author/myproject/issues/6, then that would be possible. Perhaps something like:

[code]

could list all matching bugs, typically just one.

[2021-02-12 20:22] vmiklos commented on #567
@MichaelMure what do you think? I don't mind taking a look at this myself, just wanted to do a sanity-check on the idea in general and on the syntax in particular before I invest time in coding this. Thanks.

[2021-02-12 21:26] MichaelMure commented on #561
Let's close as it's not actually a bug.

[2021-02-12 21:26] #561 closed

[2021-02-12 21:30] bqv commented on #561
What does the code mean? I was unclear on what I'm reporting

[2021-02-12 21:31] MichaelMure commented on #554
As you probably have found by now, you need to:
1. build the webui from the `/webui`folder
2. pack the webui from the `/`folder

[2021-02-12 21:46] MichaelMure commented on #567
I guess that make sense. The syntax is a bit problematic though (both for the query language and the CLI argument for `ls`): you need to specify both key and value, which is something both of them don't do yet.

To be able to search like that you would need to:
1. ~add the metadata in the index (see `BugExcerpt`)~ actually it's already there, `CreateMetadata` in `BugExcerpt`
2. add a new keyword i

[2021-02-12 21:48] MichaelMure commented on #561
I have no idea what that code is ¯\\\_(ツ)_/¯

[2021-02-12 21:52] MichaelMure commented on #497
While this is sorted out in go-git, one solution would be to wrap the whole Repository with a `sync.Mutex` to avoid concurrent access.

[2021-02-12 21:53] MichaelMure commented on #366
@5nord this is actually https://github.com/MichaelMure/git-bug/issues/435

[2021-02-14 14:59] vmiklos commented on #567
Thanks! I have a PoC (without any error handling) based on the above, will submit a PR when I don't see obvious problems with it anymore.

[2021-02-14 15:08] MichaelMure commented on #567
You can also open a draft PR for some early feedback (if I find the time of course), as you prefer.

[2021-02-16 15:07] jkozak opened #572 "git bug push fails"
I  have a repository without a branch called ```master``` (or ```main```) and attempts to ```git bug push``` fail.

I built ```git-bug``` from source on debian testing.

[code]

If I set up a toy repo with remote bug pushing works.

[2021-02-16 15:14] MichaelMure commented on #572
`git-bug` really shouldn't care what your main branch is called. In fact you can even use without any branches.

So the problem has probably a different origin. Are your git remote setup properly?

[2021-02-16 15:18] jkozak commented on #572
Michael Muré writes:

I believe so, I've been using this repo and its remotes for some months.
I included an undramatic terminal capture of ```git push``` working.

--
John

[2021-02-18 13:27] rng-dynamics commented on #315
FYI: I am working on it.

[2021-02-18 13:33] rng-dynamics commented on #561
I believe the error code originates from the Github API. It's not a rate limiting error but an internal error of the github API. I have experienced similar errors when submitting "very big single queries". I am surprised that you get this error with the current implementation.

[2021-02-18 13:33] MichaelMure commented on #315
@rng-dynamics will your changes also cover rate limiting for mutations?

[2021-02-18 13:47] rng-dynamics commented on #315
At the moment I do not cover it. I will look at it and if it is simple, I will include it. Otherwise I would like to aim for incremental improvement (that is, I could look at the rate limiting for mutations later).

I might be able to offer you a PR to fix the rate limiting issue of the bridge pull after the weekend.

[2021-02-18 13:49] MichaelMure commented on #315
Incremental changes are definitely good. I'm just asking because the rate-limiting on mutation is making the CI fail, and that's never fun.

[2021-02-18 13:50] rng-dynamics commented on #385
Fixed by #534

[2021-02-18 13:50] #385 closed

[2021-02-18 14:05] bqv commented on #561
I suppose that's somewhat self explanatory

[2021-02-18 15:36] rng-dynamics commented on #561
Just some additional information: The current implementation of the git-bug bridge uses many small GraphQL queries to the Github API. I did not have this error when I tried to pull the issues from nixos/nixpkgs but instead a simple rate limiting error.

[2021-02-18 16:20] frodeaa commented on #385
Nice!

[code]

[2021-02-19 22:27] claudioantonio opened #573 "WebUI - Enable dark mode visualization"
Nowadays many apps offer a dark mode visualization for its GUI.

[2021-02-19 22:52] claudioantonio opened #574 "New WebUI interface availability"
How useful or worth would be an update for git-bug actual release just to offer the new WebUI interface?
It would be a new git-bug release but with the same git-bug features of the actual available release and an update only for the webui.
Off course this only makes sense if it´s not near to the next git-bug release (with enhancements and new features).

[2021-02-19 22:55] claudioantonio opened #575 "WebUI - Allow to add/remove labels to issues"
This feature is already available in GraphQL API.

[2021-02-19 22:59] #564 closed

[2021-02-19 23:00] MichaelMure commented on #566
Github wasn't smart enough to understand "fixes #..."

[2021-02-19 23:00] #566 closed

[2021-02-19 23:01] #554 closed

[2021-02-19 23:04] MichaelMure commented on #574
In normal time, making a small release to update the webui could make sense (although it's still is non-trivial process). The problem is that right now `master` is not in a releasable state because a bunch of changes happened on the data model. A new release would make the data from a previous release unreadable. https://github.com/MichaelMure/git-bug-migration/ need to be properly finished and ve

[2021-02-19 23:04] #574 closed

[2021-02-19 23:26] claudioantonio commented on #553
Specifically in this case, is It difficult ( not a goodfirstissue :) ) to change the mutation to close bug to add an optional parameter for the comment?
Or even create a new mutation CloseAndCommentBug where bug prefix and comment are required?

[2021-02-23 11:41] claudioantonio commented on #553
Hi @MichaelMure, are the options that I mentioned in the last comment viable/acceptable?

[2021-02-23 17:59] MichaelMure commented on #553
Hey, sorry for the delay. I guess having a `CloseAndCommentBug` mutation and avoiding entirely the multi-mutations requests make sense. If you want to do that you'll have to:
1. update the graphQL schema files and add the mutation: https://github.com/MichaelMure/git-bug/blob/master/api/graphql/schema/mutations.graphql
2. regenerate the go code of the graphQL server: either through go generate (htt

[2021-02-24 11:13] MichaelMure commented on #553
Actually a better name would be `commentAndCloseBug`.

[2021-02-25 15:24] bqv commented on #315
Hi @rng-dynamics , how is the progress on your plan for this? Do you have anything you'd like me to help test?

[2021-02-27 00:36] rng-dynamics commented on #315
Hi @bqv! You can see what I am working on in my fork on the [dev-gh-bridge](https://github.com/rng-dynamics/git-bug/tree/dev-gh-bridge) branch. Please be aware that the code still needs a thorough cleanup. That is why I cannot create a pull request yet.

I have optimised the GraphQL queries and I can pull many more issues without hitting the rate limit now. Additionally, the bridge may wait when h

[2021-02-27 19:12] bqv commented on #315
Tried to build it a few times, no real luck... :(

Supposedly missing definitions for:

bridge/github/import.go:23:9: undefined: importProxy
bridge/github/import.go:65:13: undefined: NewImportProxy

No hurry to fix it though, presumably you have a compilable version

[2021-02-27 19:39] #567 closed

[2021-02-27 20:33] MichaelMure commented on #315
@rng-dynamics could you open a draft PR with your changes so I don't lose track of this important work? Or even better, push your branch to this repo and open the PR from here so that the CI can test it.

[2021-02-27 20:57] MichaelMure commented on #528
Actually it seems that you were using a quite old version. This is already fixed in master.

[2021-02-27 20:57] #528 closed

[2021-02-27 21:02] MichaelMure opened #577 "CLI - allow to use "user create" without prompt"
Similarly as `bridge configure`, `user create` should be possible to use purely with CLI flags, without interactive prompt.

[2021-02-27 23:45] claudioantonio commented on #552
I merged PR #520 to current master locally and tested all webui features. I had no conflicts nor feature problems.
However, github checks indicate that this PR break some tests for  build (1.13.x, macos-latest) that are not related to webui as show below.

Can I approve this PR?

--------------------------------------------------------------------------------------------------------------------

=

[2021-02-27 23:56] claudioantonio opened #578 "WebUI - Present the name for the repository WebUI is connected to"
When a user have more than one repository would be interesting to know in which repository He is connected to.
This can avoid actions in the wrong repo.

![showrepositoryname](https://user-images.githubusercontent.com/12503122/109403749-350e6080-793e-11eb-80ee-971474b67a6c.png)

[2021-02-28 00:04] rng-dynamics commented on #315
@bqv Yes, sorry, a file was missing. It should be there now.
@MichaelMure I will do that soon.

[2021-02-28 10:10] pawamoy opened #579 "webui: Emoji support"
Currently emojis in the webui are rendered as `:expressionless:`. It would be nice to render the actual emojis :slightly_smiling_face:
I'm not sure how Markdown is rendered in the webui. Maybe a javascript lib could do the trick.

[2021-02-28 10:12] pawamoy opened #580 "webui: Code highlighting"
Currently code blocks are not highlighted in the webui. It would be nice to highlight them! As for emojis, maybe a javascript lib could do the trick, though it would *not* play well with the offline side of things.

[2021-02-28 12:08] claudioantonio commented on #580
@pawamoy could You add a screenshot about Your expectation? ;-)

[2021-02-28 12:12] claudioantonio commented on #528
@MichaelMure I used the binary for 0.7.1 release.

[2021-02-28 12:20] pawamoy commented on #580
Sure!

Comment in git bug webui:

![Screenshot_2021-02-28_13-17-00](https://user-images.githubusercontent.com/3999221/109418210-68e19880-79c7-11eb-8482-9de1372959b7.png)

(dark theme thanks to dark reader extension)

Same comment on GitHub:

![Screenshot_2021-02-28_13-17-38](https://user-images.githubusercontent.com/3999221/109418220-74cd5a80-79c7-11eb-93cb-b07f6f2e1eab.png)

I'm not asking to rep

[2021-02-28 12:35] pawamoy opened #581 "GitHub bridge: error creating token 404"
I'll paste the output here:

[code]

I had to create the token manually and give the arguments on the command line:

[code]

git-bug version, installed from AUR:

[code]

[2021-02-28 12:40] pawamoy opened #582 "GitHub bridge: comments added to the wrong bug"
I've just tried git-bug again today (last time was around a year ago I think). I created my user identity, then configured the GitHub bridge, and finally ran `git bug bridge pull`.

<details><summary>Output of the <code>git bug bridge pull</code> command</summary>

[code]

</details>

The issue is that comments from issue X were added to issue Y. For example comments starting at [this one](https:/

[2021-02-28 19:36] rng-dynamics commented on #582
@pawamoy: Which version of git-bug are you using?

[2021-02-28 20:26] MichaelMure commented on #581
Most likely github finally retired their token creation API. https://github.com/MichaelMure/git-bug/pull/496 fix that by using the new API. This is in the master branch but unfortunately not in a released version :-|

[2021-02-28 20:27] MichaelMure commented on #581
Closing but please reopen if it still fail with master.

[2021-02-28 20:27] #581 closed

[2021-02-28 20:32] MichaelMure commented on #580
Markdown rendering is done in the webUI with `remark-react` and [remark](https://github.com/remarkjs/remark) (https://github.com/MichaelMure/git-bug/blob/master/webui/src/components/Content/index.tsx#L10-L20).

Remark has a long list of plugins that include syntax highlighting: https://github.com/remarkjs/remark/blob/main/doc/plugins.md

[2021-02-28 20:33] MichaelMure commented on #579
Same as for https://github.com/MichaelMure/git-bug/issues/580#issuecomment-787517962, this looks doable with a remark plugin. Maybe https://github.com/remarkjs/remark-gemoji (from a quick browsing).

[2021-02-28 20:34] MichaelMure commented on #578
I suppose this should be hidden if we only have the (unnamed) default repository.

[2021-02-28 20:37] MichaelMure commented on #552
This is the CI for the github bridge that has some trouble with github's rate limiting. This is safe to ignore for now, hopefully we can have a better bridge that deal graciously with that.

I merged #520, which conclude that issue. Thanks!

[2021-02-28 20:37] #552 closed

[2021-02-28 21:59] pawamoy commented on #582
I'm using git bug 0.7.1!

[2021-03-03 12:32] GlancingMind commented on #573
@MichaelMure @claudioantonio Hi, I've got a working dark-mode.
I still have to port this changes to upstream, but I thought you might like to see a [preview](https://github.com/GlancingMind/git-bug/pull/23#issuecomment-789667207). ;-)

[2021-03-03 12:47] claudioantonio opened #586 "WebUI - Refactoring label presentation to use material-ui´s Chip component instead of a styled span"
This is a first step to #575 .
Besides that, the Chip component offers more possibilities to enrich label interaction (for example, remove icon).

[2021-03-03 12:48] claudioantonio commented on #573
Hey @GlancingMind , congrats! Looks nice!

[2021-03-05 15:49] timbkr commented on #586
Hi im also working on this
![labels](https://user-images.githubusercontent.com/76536085/110138403-3cb48600-7dd2-11eb-9b45-76f188a67000.jpg)
But still in very early stage. I have to get familiar with the project at first, just to let you know.

https://github.com/GlancingMind/git-bug/issues/8

[2021-03-05 21:41] vmiklos opened #592 "webui: allow specifying the initial query"
`git-bug webui` unconditionally opens the `status:open` page on startup. It would be nice to allow a custom query, so e.g. `git-bug webui status:closed` would open `status:closed` by default.

If the idea makes sense, I don't mind taking a look at this myself, probably reasonably straightforward.

[2021-03-05 22:57] MichaelMure commented on #592
Hmmm, at least what would make sense is to have the query as part of the URL (if that doesn't work already like that, can't check now). That way you would bookmark that, or send it to someone.

I guess you idea also make sense, but maybe just as a flag instead of an argument?

[2021-03-05 23:02] MichaelMure commented on #592
Actually, if you can pass the query in the URL, it's going to be much easier to implement this jump from the CLI.

[2021-03-06 12:37] claudioantonio commented on #592
Hi @vmiklos ! It´s already possible to change status with one click as shown in the figure below. Isn´t it better than type the status filter at command line? Could You please tell a little bit more about the use case You have?

![labelfiltering](https://user-images.githubusercontent.com/12503122/110206933-80a19c80-7e5f-11eb-8302-7c02f87a1345.png)

[2021-03-06 12:38] claudioantonio commented on #592
@MichaelMure in the image mentioned before You can see that We already have the filter in the url. 😉

[2021-03-06 12:48] claudioantonio commented on #586
Hey @timbkr ! Thank You for the advice! I did a code and was trying to pass margin styles as param to the chip component from the Bug page. Go ahead!

On tip: try to use display flex, row direction, with space between elements and allow wrap. 😉

![image](https://user-images.githubusercontent.com/12503122/110207254-007c3680-7e61-11eb-9b89-f5dae7573498.png)

[2021-03-06 12:51] claudioantonio commented on #575
This issue is related to https://github.com/GlancingMind/git-bug/issues/8.

[2021-03-06 21:08] vmiklos commented on #592
Yes, that would be the idea. So something like `git-bug webui -q status:closed` could influence what URL is opened once the webserver is up & running.

My use-case is when I have a git checkout for a project cloned from github, then I use the git-bug bridge to also download the issues. Now when a commit message or comment refers to an issue with its full URL, then I can look up the details of that

[2021-03-06 21:13] MichaelMure commented on #592
That make complete sense to me. The goal of having CLI tools is to allow this kind of programmability: users can have their scripts/macros and build their own weird workflow out of the common building blocks.

Another goal is to allow integrating git-bug within whatever editor people are using.

[2021-03-07 20:46] #592 closed

[2021-03-07 21:09] #573 closed

[2021-03-10 10:39] GlancingMind commented on #582
Can confirm for the [current master version](https://github.com/MichaelMure/git-bug/tree/501e1678b2af280300a4c35d762c54379e3142e4).

[2021-03-10 11:52] rng-dynamics commented on #582
Since this issue is based on version 0.7.1 of git-bug I believe this issue is the same as #385 which has been fixed by #534.

[2021-03-10 12:35] GlancingMind commented on #582
Tried again, this time everything looks fine. Maybe my first test still used an older version.

[2021-03-10 22:51] rng-dynamics commented on #582
@GlancingMind: thanks for testing!

I used https://github.com/MichaelMure/git-bug/commit/501e1678b2af280300a4c35d762c54379e3142e4 from master to import the issues from https://github.com/pawamoy/aria2p and got a good result.

https://github.com/pawamoy/aria2p/issues/70#issuecomment-721943308 looks good:

[code]

and https://github.com/pawamoy/aria2p/issues/68 ends in the right comment:
[code]

[2021-03-10 23:03] rng-dynamics commented on #582
The AUR also has a package [git-bug-git](https://aur.archlinux.org/packages/git-bug-git/) which AFAIU installs git-bug from its master branch. (Confusingly the AUR version number of this package is 0.7.1.r21.g5029cc1e-1 which looks very similar to the release 0.7.1 .) @pawamoy: Would it work for you to use that package?

[2021-03-11 08:04] pawamoy commented on #582
Sure, glad to see the issue is already fixed :) Thanks a lot to all of you ^^

[2021-03-11 20:25] rng-dynamics commented on #582
Duplicate of #385

[2021-03-11 20:25] #582 closed

[2021-03-14 16:01] firecat53 commented on #572
I'm seeing a similar problem:

    firecat53@scotty:~/docs/family/scott/src/projects/urlscan (develop) $ git push origin develop
    Everything up-to-date
    urlscan $ git bug push
    Error: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain
    urlscan $ git bug push
    A lock file is present but the corresponding process is not,

[2021-03-21 21:28] MichaelMure commented on #390
Last release has a proper tag.

It's also a release that fix a security issue.

[2021-03-21 21:28] #390 closed

[2021-03-27 19:49] rng-dynamics opened #606 "Github bridge import: error, probably caused by line of 65536+ length"
I tried to import all the issues from https://github.com/golang/go. (Currently I am using git-bug from PR #585).

This gives the following error:
[code]
The error is caused when importing https://github.com/golang/go/issues/18201 .
This issue contains a line of 65536+ length.

[2021-03-27 20:45] MichaelMure commented on #606
Hu, that's a funny one.

Are you able to pinpoint a bit more where this error happen?

[2021-03-27 20:48] rng-dynamics opened #607 "Github bridge import: performing `bridge pull` several times does not consider the time when the last pull has been performed"
I am importing all the issues from https://github.com/MichaelMure/git-bug .
[code]

Then I execute the same command again (just this time with `time`). This takes much more time than it should:
[code]

git-bug actually queries all the issues from github eventhough it should not do that by using the `since` variable:
https://github.com/MichaelMure/git-bug/blob/fb6b2d873e1bbc653aa84ddce56c842202e00c

[2021-03-27 21:03] rng-dynamics commented on #606
At the moment I do not know where the error happens exactly (reproducing the error takes a lot of time). Just looking at the error message it should originiate from somewhere below the call to `repo.NewBugRaw()`.

The cause might be the same as described in the issue which causes the error. There the cause was a `bufio.Scanner` (which has `bufio.MaxScanTokenSize` equal to 65536). The solution whic

[2021-03-28 16:04] MichaelMure commented on #606
So, what's happening is that this text is passed to Bleve (full text search) for indexing, Bleve process it then try to write a piece of data (with a very long key) to BoltDB (a key/value store).

I filled an issue here: https://github.com/blevesearch/bleve/issues/1576

[2021-03-28 16:06] MichaelMure commented on #606
I suppose that as a workaround, long token could be filtered before indexing in here: https://github.com/MichaelMure/git-bug/blob/fb6b2d873e1bbc653aa84ddce56c842202e00c33/cache/repo_cache_bug.go#L482-L484

[2021-03-28 16:40] MichaelMure commented on #607
That looks like an issue when write/reading the value in the git config. I'll have to dig further.

[2021-03-28 20:19] MichaelMure commented on #607
Alright so this was indeed multiple issues with the config read/write. https://github.com/MichaelMure/git-bug/pull/608 should fix that.

[2021-03-28 20:25] #607 closed

[2021-03-28 21:28] MichaelMure commented on #606
Should be fixed with https://github.com/MichaelMure/git-bug/commit/32958b5ca1901e8062bc67c9a03675ffd8ef4fa7

[2021-03-28 21:29] #606 closed

[2021-03-28 22:51] rng-dynamics opened #609 "Github bridge import: Githubs ClosedEvents are incoherent."
I am importing all the the issues from https://github.com/NixOS/nixpkgs. (Currently I am using git-bug from PR #585).

When the import is finished the number of open and closed issues in git-bug and on github do not match. For example, github has 4298 open and 15884 closed issues in nixpkgs but git-bug shows the following:

[code]

This is caused by github having issues which are closed, but which

[2021-03-28 23:16] rng-dynamics commented on #609
Well, maybe the "closed" field on https://docs.github.com/en/graphql/reference/objects#issue in the Github API is supposed to handle that. I will have to try.

[2021-03-29 04:44] dependabot-preview[bot] opened #610 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/MichaelMure/update-logs/74181731).

[2021-03-29 08:14] MichaelMure commented on #609
Any idea how that's even possible on the github side?

Thanks for your work, it's *really* useful.

[2021-03-29 09:12] #610 closed

[2021-03-29 09:18] dependabot-preview[bot] opened #612 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/MichaelMure/update-logs/74256533).

[2021-03-29 21:05] rng-dynamics commented on #609
No, I don't know.

[2021-03-31 19:35] GlancingMind commented on #579
I added emoji support within this PR. https://github.com/GlancingMind/git-bug/pull/44
![image](https://user-images.githubusercontent.com/9444609/113200679-ef102980-9268-11eb-83eb-aa8f849f2771.png)

[2021-04-04 13:41] dependabot-preview[bot] opened #615 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/MichaelMure/update-logs/75226522).

[2021-04-05 16:10] #615 closed

[2021-04-05 16:10] #612 closed

[2021-04-08 08:58] GlancingMind commented on #578
I have a question. Can one git-bug instance already manage multiple repositories?
I thought that I have to run multiple instances per repository.
If this is currently not possible, maybe doing the same as [gopass - multi stores](https://github.com/gopasspw/gopass/blob/master/docs/features.md#multiple-stores), might be an option (for future reference).

[2021-04-08 11:28] MichaelMure commented on #578
The core and the GraphQL API support it, but there is no tooling (CLI, config file ...) around to actually register multiple repo.

See https://github.com/MichaelMure/git-bug/blob/master/cache/multi_repo_cache.go#L23 : nothing is calling this function.

https://github.com/MichaelMure/git-bug/blob/master/api/graphql/schema/root.graphql#L2-L3 : you can query another repo if you have one.

[2021-04-09 19:34] sergeevabc commented on #551
README lacks a quick start guide, because any command you pass to `git-hub.exe` ends with the error so far
` Error: git-bug must be run from within a git repo `

[2021-04-09 19:42] rng-dynamics opened #629 "Import: issue edits and comment edits incorrect"
I am importing the issues from https://github.com/rng-dynamics/gb-test-two.

When I use git-bug from the current master branch (bc5f618e), then the import is not correct: The issue https://github.com/rng-dynamics/gb-test-two/issues/2 is missing issue edits and comment edits:

[code]

Some time ago it used to work. E.g., on 01b9490 the import is correct:
[code]

[2021-04-09 21:07] rng-dynamics opened #630 "Import error: title is not fully printable"
I am importing all the the issues from https://github.com/golang/go. (Currently I am using git-bug from PR #585).

I get the following error:
[code]
Here is the issue which causes that: https://github.com/golang/go/issues/43562.
The JSON from the GraphQL API looks as follows:
[code]

[2021-04-10 07:54] MichaelMure commented on #629
Is this fixed in your now merged branch?

[2021-04-10 07:59] MichaelMure commented on #630
So what's happening is that the core of git-bug is checking that there is no funny characters in the bugs (here it's a control character). This is checked with the function `text.Safe()`.

There is the counterpart function `text.Cleanup()` that should be used on every imported text by the bridges. In the github bridge, this is done for the content of the issue, but not the title.

[2021-04-10 21:06] rng-dynamics commented on #629
To me it seems that the error is not in the github bridge but somewhere else. So, no, it's not fixed. It has been introduced somewhere between 01b9490 and bc5f618. I tried to bisect it, but was not successful in locating it yet.

[2021-04-11 18:37] rng-dynamics commented on #629
I think I found the problem. I will send you a PR soon.

[2021-04-12 17:17] #575 closed

[2021-04-12 17:17] #586 closed

[2021-04-12 17:26] #579 closed

[2021-04-12 18:18] GlancingMind commented on #553
@MichaelMure @claudioantonio Is this issue still relevant?

[2021-04-13 11:33] GlancingMind commented on #509
The WebUI on the master branch has now the feature to filter by multiple labels. Maybe this might be helpful.
Otherwise for the cli, an shell alias could be creaded as workaround.
E.g. for Zsh an alias could look like this `alias gb-focus='git-bug ls -l ui -l crash'`.
Then instead of invoking `git-bug ls...` you only use `gb-focus`.

Just for documentation. Possible relevant Issue #99 and outdated

[2021-04-13 11:53] GlancingMind commented on #453
Wouldn't it be better to ship the terminal UI with a simple black and white color scheme (except for label)?
E.g. default terminal background and default terminal font color.
Then the colors should not conflict with the users terminal color scheme.
If preferred, the colors could still be changed with a configuration file or within the git config.

[2021-04-13 12:43] GlancingMind commented on #530
:+1: from me. I would also propose a slightly different version.
Currently the call format is `Binary - Entity - Operation`

[2021-04-13 12:56] MichaelMure commented on #530
@GlancingMind what's your proposal?

[2021-04-13 13:06] GlancingMind commented on #530
Accidentally hit `comment` without everything written. :)

[2021-04-15 10:52] MichaelMure commented on #630
On that topic, I found that `text.Cleanup()` can't return an error with how the current code is written, so this could be made way cleaner.

[2021-04-15 12:45] GlancingMind commented on #530
Shortly before falling asleep yesterday, I got another idea. It might be possible to keep the git porcelain CLI and support new entities like PR.
Just treat the problem in the UNIX way. E.g. every entity/context will be solved in a separate binary.
E.g.
- git bug -> bug binary
- git pr -> pr binary
- git identity -> identity binary
...

This would require to extract the repository logic  into a li

[2021-04-17 00:45] claudioantonio commented on #553
Hi @GlancingMind sorry for the delay, I'm busy in a professional transition.
Well, I think It's not a major feature but It provides agility.
Do You agree @MichaelMure ?

[2021-04-17 11:15] GlancingMind commented on #553
Oh. I just noticed, that I miss interpreted the issue.  I think it could still be seen as relevant.

[2021-04-17 17:40] #630 closed

[2021-04-17 18:18] MichaelMure commented on #105
Closing as it's not an issue.

[2021-04-17 18:18] #105 closed

[2021-04-17 18:21] MichaelMure commented on #553
I agree it's not a major feature but that's also the kind of small things that make a great UX at the end of the road.

[2021-04-17 18:22] MichaelMure commented on #15
Well, two years later this is not relevant anymore as all this code has been rewritten and git-bug is not doing any rebase anymore (and that's a good thing).

[2021-04-17 18:22] #15 closed

[2021-04-17 18:24] MichaelMure commented on #118
Done!!

[2021-04-17 18:24] #118 closed

[2021-04-17 18:26] MichaelMure commented on #130
Still a lot to do, but git-bug's core can now store/load crypto keys and check signatures.

[2021-04-17 18:26] #188 closed

[2021-04-17 18:28] MichaelMure commented on #197
This is probably not relevant anymore now that the github bridge has been reworked (thanks @rng-dynamics !). We can re-open if it's still an issue.

[2021-04-17 18:28] #197 closed

[2021-04-17 18:30] MichaelMure commented on #315
Unless I'm mistaken, @rng-dynamics great work brought a proper handling of the rate limiting when pulling data. What's left is the counterpart when pushing changes.

[2021-04-17 18:32] MichaelMure commented on #337
Reflecting back on this, it looks like transaction are not really needed. The main use case was commenting and closing on a bug as a single step but that's pretty much it. This can be implemented as a single GraphQL mutation.

[2021-04-17 18:32] #337 closed

[2021-04-17 18:38] MichaelMure commented on #497
go-git's maintainer refused to make go-git thread safe so we'll have a mutex in git-bug for the time being: https://github.com/MichaelMure/git-bug/pull/635

[2021-04-17 18:41] #497 closed

[2021-04-18 09:08] MichaelMure commented on #572
Probably due to https://github.com/go-git/go-git/issues/218 or https://github.com/go-git/go-git/issues/143

[2021-04-18 18:37] #629 closed

[2021-04-19 06:38] rng-dynamics commented on #315
Yes, the rate limiting for importing from Github is fixed. I also tested it on https://github.com/datalad/datalad and everything seems correct to me. @MichaelMure: do you want to close this issue?

I will have a look at it in the not so distant future.

[2021-04-19 10:53] MichaelMure commented on #315
Let's keep this issue open until mutation rate limiting is handled properly. I updated the title.

[2021-04-21 16:29] GlancingMind opened #637 "Add project board support"
This is an upstreamed issue originating here: https://github.com/GlancingMind/git-bug/issues/20#issue-785065392

Implement a project board, to have a better overview of which Issues are
currently worked on or which ones still need to be resolved. The board will
have multiple columns, where each columns represents the current state of an
Issue. An Issue will always be only in one columns and may be

[2021-04-21 16:31] GlancingMind opened #638 "Add feed subscription"
Implement Atom/RSS subcription for Issues, Searches, Milestones etc.
This will help users to stay up-to-date without requiring the usage of git-bug
pull. E.g. an instance of the git-bug WebUI could also be hosted on the
internet where users might want to be updated without using git-bug or checking
constantly for new updates. This also removes the need to register with an
email for updates and can

[2021-04-21 16:37] GlancingMind opened #639 "Support milestones"
This is an upstreamed issue originating here:  https://github.com/GlancingMind/git-bug/issues/11

Implement Milestones. A milestone describes a bigger task, which requires
multiple issues to be resolved, possible in a given set of time.
This means, a milestone may have a deadline in which all the Issues
may be completed. The deadline shall currently have no effect on the milestone
and simply provi

[2021-04-21 16:40] GlancingMind opened #640 "WebUI: Allow users to switch their identity to already created (local) identities."
Git-Bug supports multiple identities. Just create another one with 'git-bug user create' and list all with 'git-bug user ls'.
Identities can be switched by replacing the current user id for the new user id under the git-bug/identity entry in the .git/config.

[2021-04-21 16:42] GlancingMind commented on #640
Comment by @MichaelMure:

[2021-04-21 16:46] GlancingMind commented on #640
[IndieAuth](https://indieweb.org/IndieAuth) might be another option to the common OAuth options.

[2021-04-21 16:49] GlancingMind commented on #639
As you noticed, milestones and labels are conceptually very close. That said, they should *probably* have their own operation in git-bug's core instead of piggy-backing on the labels. That's a non-trivial amount of code to write, but that would be a lot of copy-pasting from the label's code.

If that's out of scope for your project maybe an intermediary solution would be to add the milestone's spe

[2021-04-21 16:50] GlancingMind commented on #637
Upstream link to the mentioned and related milestone issue: https://github.com/MichaelMure/git-bug/issues/639

[2021-04-21 19:40] GlancingMind opened #641 "WebUI: Make comment field resizable"
The comment field of a bug description is quite narrow. To improve the writing experience, the comment field should be at least vertically resizable.

[2021-04-21 19:49] GlancingMind opened #642 "Consider using a special user to import bugs via bridges"
Last time I tried, the GitHub bridge imported all bugs with my current user identity (not sure if this also applies to the other bridges).
I think it might be better to use a at least a special "bridge" user for importing bugs.
This way the user can see, that the bug was imported.

Other idea would be to support a "sync" status field, which contains a reference for each repository a bug was synced

[2021-04-23 07:50] MichaelMure commented on #642
Unless I'm mistaken, you only need a proper identity to *export*. That makes sense because you need to add your bridge credentials somewhere to interact with the remote bug tracker.

Maybe your point is that the bridge configuration wizard should allow to optionally *not* setup credentials? But that would only work with public repo.

[2021-04-23 10:30] GlancingMind commented on #642
Oh I think we are talking about two different thinks. Let me clarify as my first post is a bit ambiguous.
The problem I'm referring to is, that imported bug have my identity as author. This means, that those bugs appear to be written by me, but they might not.

Two possible solutions that I could think of:
1. While importing bugs, identities are created for each participant. Maybe this identities

[2021-04-23 15:21] MichaelMure commented on #642
That's how it should work. Isn't that what's happening for you?

[2021-04-23 16:00] GlancingMind commented on #642
This is the case for comments but not the author of an bug.
When I import the issues of my git-bug fork, they appear as the currently used git-bug identity.
See this issue: https://github.com/GlancingMind/git-bug/issues/20
Notice the author of the Bug, which is TestUser instead of GlancingMind.
![image](https://user-images.githubusercontent.com/9444609/115897960-4f0b8180-a45d-11eb-87de-f25a2fefdec

[2021-04-23 16:04] MichaelMure commented on #642
That's definitely a bug. Is that happening as well with the termui?

[2021-04-23 16:15] GlancingMind commented on #642
Yes, the termui also displays TestUser.

[2021-04-23 16:18] MichaelMure commented on #642
WTF :-D

In that case that should be easy to reproduce/debug but what I'm confused about is that our tests should protect against something as obvious.

[2021-04-23 16:26] GlancingMind commented on #642
Ah I know where TestUser comes. I know where the TestUser originates from. It is also used within my `git config user.name`.

[2021-04-24 19:19] GlancingMind commented on #642
Okey got the error. I'll try to explain what happens:
The github bridge adds a Metadata field (github-login) to currently used identity. (By doing so the bridge assumes, that my current identity matches the user of my github account.)
While importing issues, the bridge checks, if an identity already exists. Otherwise the identity will be created.
This is done via a [cache lookup](https://github.co

[2021-04-25 10:22] MichaelMure commented on #642
Correct. This happen at the end of each configurator, with this common piece of code: https://github.com/MichaelMure/git-bug/blob/87b97ca4b2f39240c698596ac14a6d3532f6363d/bridge/core/config.go#L22-L33

Ok so the current identity is used as the identity matching the remote account.  However, that identity doesn't replace all the others like I initially thought from your report.

So, to me this is m

[2021-04-25 11:31] cvhariharan commented on #577
Hello @MichaelMure, if this issue is still open, I would like to give it a Go!
From what I understand, when creating a user, instead of an interactive prompt to enter name, email this PR would replace that with flags.

[2021-04-25 11:57] GlancingMind commented on #642
Oh I didn't even consider this, as the imported repository contains only issues created by myself. :-)

Probably I wouldn't have noticed, as my `git config user.name` would likely match my GitHub identity.
But I can think of a case in which this might still have happened. E.g. I have my git-bug fork on GitHub and on GitLab. Suppose that I have the following usernames

GitHub -> Sascha
GitLab -> Fo

[2021-04-25 12:00] MichaelMure commented on #577
@cvhariharan yes please!

The command need to support both workflow: with flags and without flags (interactive prompt). So something like that: https://github.com/MichaelMure/git-bug/blob/master/commands/bridge_configure.go#L139-L151

[2021-04-25 12:04] MichaelMure commented on #642
.. it is then.

Also agree on the `user ls` command, there is many ways to make it less crappy. The good balance is a bit tricky to find though.

[2021-04-25 12:14] cvhariharan commented on #577
Will do :+1:

[2021-04-25 12:14] GlancingMind commented on #642
Or what could also work, print a message similar to this one after the bridge was configured.

Your git-bug identity "TestUser" has adopted your GitHub identity "Sascha (GlancingMind)".
JFI: Bugs created by your GitHub identity "Sascha (GlancingMind)" will be displayed under your git-bug identity "TestUser".

[2021-04-25 12:16] GlancingMind commented on #642
Let me know, if I should create dedicated issues out of my given example.

[2021-04-25 13:15] MichaelMure commented on #642
A message works but then the user has no way to fix the situation if it's not what he expect. Might as well add the prompt and select the right thing to do.

So, if there is a current user: `Is your current identity TestUser the one you want to associate with $login? [Y/n]`

Issues are good, PRs are even better ;) But yes we can discuss first about what to do.

[2021-04-25 14:46] #577 closed

[2021-04-25 15:59] GlancingMind commented on #642
Sure. Maintainers time is precious :D

[2021-04-25 16:53] GlancingMind opened #652 "WebUI: Display public keys and their history on the profile page"
This requires to extends the GraphQL schema.

[2021-04-25 18:13] GlancingMind opened #653 "Editing comments (in TermUI and WebUI) has no effect"
The error seem to be introduced with this commit: https://github.com/MichaelMure/git-bug/commit/24155156223595e48f215e87cf9ce7895e22f4a7

[2021-04-25 20:44] GlancingMind commented on #653
Reverting [this line](https://github.com/MichaelMure/git-bug/blob/master/bug/op_edit_comment.go#L38) back to `commentId = op.target` seems to fix the issue. But I'm not sure if this is the right way to solve the problem. [This discussion](https://github.com/MichaelMure/git-bug/pull/631#pullrequestreview-635388561)  seems to be related, maybe reverting the line was just forgotten?

[2021-04-26 10:13] MichaelMure commented on #653
https://github.com/MichaelMure/git-bug/commit/24155156223595e48f215e87cf9ce7895e22f4a7 was correct. The problem is that there is a conversion missing.

EditCommentOperation correctly use an Operation's Id as the target. The problem is that the termui (and webUI I suppose) is using a comment's ID (a combined ID) directly without conversion. Where exactly this conversion should happen, I'm not so su

[2021-04-26 13:29] GlancingMind commented on #653
Tough problem. I added a CombinedId type and adjusted the function signatures accordingly.
But one Problem persists. The TimeLineItem interface requires an Id, but the CommentTimeLineItem uses a CombinedId, as it should match the Comment.Id (of type CombinedId).

[2021-04-26 21:08] artumi-richard opened #655 "Label naming"
Hi. Thanks for working on git bug.

When creating a label containing a colon ":" character, the search seems to become unusable in the terminal user interface. After adding the label "st:wontfix" to a bug I tried to search with each of these:

- label:st:wontfix
- label:"st:wontfix"
- label:'st:wontfix'

Each threw the error "can't tokenize".

I would expect that either the colon character should

[2021-04-26 21:09] artumi-richard commented on #655
This seems to be a problem on the web interface also.

[2021-04-26 21:20] artumi-richard opened #656 "webui - very long words mess up display"
If you enter a very long word into the message of the bug then that very long word will break the view in the webui and make everything look untidy.  The solution, I think, is to put an "overflow:auto" on <section> elements. I had a quick look for a css file which might make for an easy PR, but I couldn't spot one.

[2021-04-26 21:24] rng-dynamics commented on #653
If that works without introducing other complications, then that would help a lot, I guess.

[2021-04-26 22:23] rng-dynamics commented on #653
If it where up to me I would aim for separate types for different kinds of Ids. But in case that does not work out as expected, one can add a field `plainId` to the `Comment` struct to store both Ids for each `Comment`. Then one has both Ids at his disposal.

[2021-04-29 11:08] GlancingMind commented on #655
Can confirm for latest release version (7.2).
The current master version seems to allow the following search strings:
- label:"abc:abc"
- label:'abc:abc'
Though `label:abc:abc` fails with *unkown qualifier "label:abc"*.
Also the WebUI seems to not show the open and closed bug count when using above filters. Instead only ??? is displayed as count.

[2021-04-29 12:36] MichaelMure commented on #655
Very likely related to https://github.com/MichaelMure/git-bug/pull/568. It's a voluntary change in the query language where we allow to search with a triple `foo:bar:baz`. Before that, `label:st:wontfix` was interpreted (not by design) as `label` + `st:wontfix`. The correct way should be `label:"st:wontfix"` but maybe there is something wrong in the parser or in each UI?

[2021-04-29 12:55] GlancingMind commented on #655
The CLI and TermUI work by quoting the label string. The WebUI will display the matching bugs too, but WebUI will still recieves
[Error: unknown qualifier "label:abc"](https://github.com/MichaelMure/git-bug/blob/master/query/parser.go#L77) when using `label:"abc:abc"` as query string. Which is quite strange, as the graphql-playground won't give me an error...

[2021-04-29 13:01] GlancingMind commented on #655
I think I've got the error. Let's see if I can fix it.

[2021-04-29 14:46] GlancingMind commented on #655
@MichaelMure I've got an interesting idea. Why don't we use go's URLs package for query handling. The only syntax difference should be = instead of : for parameters. This could simplify the code significantly. Parsing would already be implemented and the WebUI can also use URLSearchParams API.

[2021-04-29 14:58] MichaelMure commented on #655
Well, this query language is a way for the user to interact with git-bug. The main goal has to be how well it does that job, not how easy it is to implement (as long as bugs are not an issue).

From that point of view, I'm happy to consider weakness of the language, but note that it has also a quite strong characteristic: it's very similar to the one github ans others have (so it's familiar to mos

[2021-04-29 19:35] #656 closed

[2021-05-01 15:02] GlancingMind opened #660 "WebUI: Display 'no description provided' message for bugs with no description"

[2021-05-02 10:06] #641 closed

[2021-05-02 10:07] #660 closed

[2021-05-03 09:48] MichaelMure commented on #653
FYI I started working on that in https://github.com/MichaelMure/git-bug/pull/664 by having a dedicated `CombinedId` type and use that in various places, but I'm yet to figure out the clean way to join in the middle. Should be doable though.

[2021-05-19 09:43] wavexx opened #676 "Command to remove git-bug data from git repository"
At one point I was using an old version of git-bug on a repository that I stopped updating for a while. Today I wanted to use it again, and git-bug complained about the incompatible metadata format.

However I didn't want to upgrade the existing data, I just wanted to re-create the metadata from scratch.

I actually had an hard time finding out all the places/refs that one needed to remove before

[2021-05-19 15:18] GlancingMind commented on #676
The Makefile does contain two targets ([clean local bugs](https://github.com/MichaelMure/git-bug/blob/master/Makefile#L45-L48) and [clean local identities](https://github.com/MichaelMure/git-bug/blob/master/Makefile#L53-L56)) which seem to remove the "not so obvious" directories. Though, they don't cleanup the `.git/config` and the `.git/git-bug` directory and a makefile is not particularly user f

[2021-05-24 07:47] #655 closed

[2021-05-25 19:02] #553 closed

[2021-05-26 13:42] smheidrich commented on #434
@MichaelMure I still have this exact issue in the latest release binary (March 21, 2021). Have the relevant commits not made it into that release yet or is this a regression?

[2021-05-26 13:58] MichaelMure commented on #434
It's not released yet. The last release was just addressing a security issue.

[2021-05-26 14:57] smheidrich commented on #434
@MichaelMure I see, thanks!

[2021-05-28 00:21] sudoforge commented on #416
Are there plans to migrate the source of truth for this project to the @git-bug organization?

[2021-05-28 09:58] MichaelMure commented on #416
@sudoforge eventually I suppose. The main goal would be to leverage github's donation system to help build a community of contributor. At the moment, https://opencollective.com/git-bug does that job but using github's one as well would probably help.

Note that I can't benefit myself from those donations as that would put me in a gray area regarding my current day job.

[2021-05-30 22:56] abdellatif-dev opened #685 "Error: error creating SSH agent: "SSH agent requested but SSH_AUTH_SOCK not-specified""
when i run this command:
$ git-bug push
i get :
Error: error creating SSH agent: "SSH agent requested but SSH_AUTH_SOCK not-specified"

[2021-05-31 07:00] TheNerdyHamster commented on #493
What is the status on this issue?
I would be interested to continue on it, if its not completed

[2021-05-31 08:57] MichaelMure commented on #685
Dup of https://github.com/MichaelMure/git-bug/issues/572

[2021-05-31 08:57] #685 closed

[2021-05-31 10:17] DaveDavenport opened #686 "bridge pull gives: rofi.current/build$ git bug bridge pull panic: runtime error: index out of range [0] with length 0"
After an initial pull (that worked) I made an online change (closed bug) and did another bridge pull, this returned the following trace:

[code]

Version:
[code]

Please let me know if you need more information.

[2021-05-31 10:44] MichaelMure commented on #686
Could you try to reproduce after compiling from master? There has been significant (unreleased) changes in the github bridge.

[2021-05-31 11:24] DaveDavenport commented on #686
sorry, I did a

 `go get -u ./ ...`

still get a compile error:

[code]

What do I need to do to build it? (sorry go noob)

[2021-05-31 12:15] abdellatif-dev commented on #572
if you are on arch linux use git-bug-bin from the aur

[2021-05-31 18:04] GlancingMind commented on #686
Hi Dave,

I tried to reproduce your error, but I failed. In my case, `go get -u ./ ...` is finishing successfully as well as `go generate`. :(
Just in case, did you try to compile git-bug via the provided Makefile? Calling `make` should be sufficient to download all dependencies and compile the git-bug binary. At least, works like this on my machine :grin:.

If compilation still fails, don't hesit

[2021-05-31 19:55] DaveDavenport commented on #686
make failed for me:
[code]

I am on an old ubuntu version on this laptop (work laptop).
I can try it with a more up2date one later.

[2021-05-31 19:58] DaveDavenport commented on #686
yes, on 20.04 make actually fetches stuff.  I will report back once tested.

[2021-05-31 20:13] DaveDavenport commented on #686
Yes, 663c429605b66d1947d0b7cc50a11cd142494bb2 works.
I tried creating closing/opening/closing and more and this now works fine.

Thanks!.

[2021-05-31 20:13] #686 closed

[2021-05-31 20:15] DaveDavenport commented on #302
This would be a great added feature.

[2021-05-31 20:20] DaveDavenport opened #687 "pushing from termui gives weird ssh error."
I am on 663c429605b66d1947d0b7cc50a11cd142494bb2.
From termui trying to push a change I got the following error:

[code]

From the commandline it worked fine (weird).
[code]

Line 35 is valid in my known_hosts.

Not sure if I can help reproduce this, but thought it was an odd error.

[2021-06-01 11:25] GlancingMind commented on #687
I think you are using two different operations here. I'll try to explain.
1. `git bug bridge push/pull`: Export and import bugs to some external bug tracker e.g. GitHubs Issue Tracker or Jira.
2. `git-bug push`: This commands works without a configured bridge. It  pushes the "raw" bug database (stored in your local .git directory) to the remote *origin* repository. In effect `git-bug push` is a di

[2021-06-01 11:57] DaveDavenport commented on #687
aah this was not directly clear to me from the ui. It does make sense.
I expected (a bridge) to be transparent.

[2021-06-02 10:48] GlancingMind commented on #653
@MichaelMure I fiddled around with your PR on my own fork. I think I found the Problem with the WebUI.
The WebUI passes the CommentId (the TimelineId of type CombinedId) to the Target of the EditCommentMutation.
This Id was then passed wrongly around. Instead the Resolver has to extract the OperationId of the CommentId and pass this OpId around. I fixed this and now the WebUI fails with the same e

[2021-06-02 12:18] daurnimator opened #688 "branch config: invalid merge"
I'm trying to run `git bug bridge pull` bug it fails with:
[code]

---

I'm running this in a repository where I once ran an old (0.4.0?) version of git-bug; but attempted to clean out.
[code]

[2021-06-02 12:42] daurnimator commented on #688
This seems to be caused by the following piece of the repository's .git/config:
[code]

For some reason, git-bug doesn't like that value for `merge`.

[2021-06-02 16:12] GlancingMind commented on #653
Got it! Editing of comments via CLI, TermUI and WebUI work again. https://github.com/GlancingMind/git-bug/pull/57
Unfortunately the fix looks rather bad... duplicating the same code in three different places scream for a better solution.
I could remove the redundant code by placing it into EditCommentOperation::Apply, but then the EditCommentOperationTarget
must be a CombinedId. Making the Target

[2021-06-04 10:38] GlancingMind commented on #688
Possible a go-git bug as a similar looking issue is posted at https://github.com/go-git/go-git/issues/331

[2021-06-15 00:40] delta1024 opened #690 "pushing a new bug to github via git-bug-bridge then pulling back down duplicates the bug"
after setting up a bridge to github using a authtoken (i believe it was option number 3 in bridge-configure) i ran the following commands

    git bug bridge push
    git bug bridge pull
    git bug ls

outputs the following

    70864ca open	Mirror Select list exits unexpectedly             	Jacob Stannix  	   1 💬
    8009d53 open	program will erase drive with existing partitions…	Jacob Stannix

[2021-06-20 17:28] LlewellynJones opened #691 "Using curl on git bash, can't connect using https"
I'm getting this error when trying to connect to a remote server using curl on git bash:

curl: (60) SSL certificate problem: self signed certificate in certificate chain
More details here: https://curl.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it, please v

[2021-06-20 18:08] MichaelMure commented on #691
Are you sure this is related to git-bug and not git itself?

[2021-06-21 20:05] LlewellynJones commented on #691
Oh, this is a bug tracker for git. I thought it was where you reported bugs with git. Never mind. :)

[2021-06-22 11:09] #691 closed

[2021-07-05 10:27] MichaelMure commented on #690
Which version are you using?

[2021-07-06 18:52] delta1024 commented on #690
0.7

[2021-07-08 09:54] MichaelMure commented on #690
If you could try with the development version (master) it'd be nice. This is most likely fixed already.

[2021-07-13 22:21] zarelit commented on #416
[just triaging] [This page](https://github.com/git-bug) now shows the git-bug logo and it is an organization so I guess this issue can be closed?

[2021-07-13 23:20] 6543 commented on #416
who owns it?
<https://github.com/orgs/git-bug/people>

[2021-07-14 00:32] sudoforge commented on #416
Membership visibility is set to Private by default when joining or creating an organization, however, the context provided by @MichaelMure's earlier reply indicates that they have the Owner role for the organization.

[2021-07-16 02:16] delta1024 commented on #690
I went and downloaded the latest stable release and installed it. I then went and created a test issue  then configured the bridge.

I've included the commands i used and their output below.

`git bug bridge configure`
[1]: github
[2]: gitlab
[3]: jira
[4]: launchpad-preview
target: 1
name [default]:

Detected projects:
[1]: github.com/delta1024/redbar

[0]: Another project

Select option: 1
Githu

[2021-07-16 07:40] nippo commented on #637
:+1:

[2021-08-02 02:08] jech opened #699 "Output of `git bug ls` doesn't fit in an 80-column terminal"
When using an 80-column terminal, the output of `git bug ls` wraps around.  (termui works fine, thanks.)

[2021-08-02 10:15] GlancingMind commented on #699
Hi @jech,

whats your expected behavior? Instead of wrapping around, would you rather like the text to be printed as is?

[2021-08-02 10:38] jech commented on #699
I'd like a more compact format that fits in 80 columns.  There could be a `-l` flag for those who prefer the long format.

[2021-08-09 05:37] f8122dac91 commented on #551
I recently returned to this project after a couple of years. It's great to see it progresses, but it still feels like the project is lacking documentation targeting users. A getting started document with some ideas on the workflow for using git-bug in a real development scenario would be a great addition to the project.

@sergeevabc sounds like your current directory is not a git-repo. Are you sur

[2021-08-12 15:14] jedahan opened #704 "new release?"
Anything stopping a new release from happening?

Having trouble with things like github bridge #581 , and want to use git-bug for a shared project, but feel like its a big ask for people to clone, build and install git-bug instead of using the packaged version.

[2021-08-12 15:21] MichaelMure commented on #704
Yeah, sorry about that.

The situation is that I'm buying and refurbishing an apartment. This has kept me extremely busy in the last few months and might last a bit more.

git-bug is close to a new release, but there is still some stuff to do:
- finish/control/merge a bunch of PRs
- finish a bunch of stuff in flux, in particular regarding the data format
- make sure everything is fine
- write doc

[2021-08-12 15:31] jedahan commented on #704
Good luck / congrats on the new apartment!

If any of those things are something we could help out on - testing, documentation, etc, lmk.

[2021-08-13 12:46] GlancingMind commented on #699
I just got an idea, how this could be solved. I'll do some research and give it a try.

[2021-08-14 19:16] GlancingMind commented on #699
I hacked something together.
![Image of the different ls terminal outputs](https://user-images.githubusercontent.com/9444609/129457711-38bc9403-cbfd-446b-8a3d-2726653a887a.png)
The image shows 3 command outputs:
1. Display the ending of a line with 80 characters (for reference).
2. The default `git-bug ls` output.
3. The compact `git-bug ls` output.

Note that the compact output, doesn't truncate

[2021-08-15 10:12] jech commented on #699
I'm not a big fan, since it uses up two lines per issue.  I'd like a format similar to the current format, but more compact — less characters for the title, a more compact representation of the username, and no speech bubble icon in the right margin.
I also think that the compact format should be the default, with a `-l` option for the extended format.

[2021-08-15 12:46] GlancingMind commented on #699
Hi @jech,

I trimmed the whitespace to the bare minimum of 1 space and I removed the comment counter.
Further I set the maximal displayed title length to 25 characters and the maximum number of labels to 4 ◼.
The status flags could be shortened to 1 character o/c or some graphical icon (not exactly sure which one).
Also I'm not sure if I should add a character limit to the displayed username.

Her

[2021-08-16 08:18] jech commented on #699
This looks good.

[2021-08-16 15:24] GlancingMind commented on #699
Okey, the user name is aligned. The 79 column should never be reached.
(max 7 chars for hash + 1 Space + max 5 chars Status + max 40 chars title + 1 Space + max 5 chars to display a label + 1 Space + max 15 chars for username = 75 chars.)

![Image of multiple ls command outputs](https://user-images.githubusercontent.com/9444609/129586867-d4f8f2c0-ecf6-4ea9-81b2-3fdf93e13c0d.png)
Image description:

[2021-08-16 19:43] jech commented on #699
Looks very good to me, thanks a lot.  I would like to most humbly request that this format should be the default, it is compact and informative.

[2021-08-29 12:37] Ltrlg commented on #699
The best default would be to check the current terminal size and auto-select the one that fits best.

[2021-09-14 20:22] #315 closed

[2021-09-15 07:28] mambrus opened #710 "As server-side using CGI parsing"
Hi, I'm working on a Docker-image to help users deploy their own git-severs including common services like code-browsing/wikis etc easily.

Since I use git-bug myself, I was thinking of using it as a service instead of bridging (`git-bug webui --no-open -p <number>`). This suits the purpose of both not lock-in projects and to enable use behind stringent network policies enabling users to deploy th

[2021-09-15 10:03] MichaelMure commented on #710
It's planned but not yet functional that the webUI would have an optional login step to either 1) select an existing user or even 2) generate git-bug users from an external authentication provider (say, github oauth). The user ID would then be stored in a cookie or something, like any other web app.

See https://github.com/MichaelMure/git-bug/tree/master/api/auth for the existing code about that:

[2021-09-15 11:02] mambrus commented on #710
Nice! Your reply answers a few questions actually. Mainly that parallell accessing using multiple servlets (one per user) would not be a good idea. It would scale horribly badly and would probably still be race-condition prone.  Managing only two (the use-case described of `git bug push`-  i.e. server-side `git` itself and ONE `git-bug` service-daemon) is manageable though. In combination with git

[2021-10-26 21:04] 0xAlcibiades opened #717 "Feature: Kanban support"
Is there a desire for a kanban view in either the termui or web ui for distributed project management?

[2021-11-03 08:17] pka commented on #704
Any chance for a new release? The GH bridge seems not working with new tokens in the latest release.

[2021-11-03 11:11] GlancingMind commented on #717
Just for reference https://github.com/MichaelMure/git-bug/issues/637

[2021-11-03 13:50] vtexier opened #718 "Bridge wizard fails on gitlab token"
I was stuck on git-bug bridge wizard, failing to connect with the Gitlab personal access token:

[code]
The string given is not accepted (it should). If I truncate the prefix, it fails.

Then I tried the command line with the full token with success:

[code]

[2021-11-08 12:50] gavin-shaw opened #719 "Github Bridge - Manual Token - "token has wrong format""
Follow the `git bug bridge configure` wizard as per below. Check the error at the end. A breaking change at github?

This is a real token from github that I have expired, just so you can see the format. Other personal data has been redacted.

[code]

[2021-11-08 12:52] gavin-shaw opened #720 "Github Bridge - Auto Token - "404 error""
Follow the `git bug bridge configure` wizard as per below. Check the error at the end. A breaking change at github?

[code]

[2021-11-27 18:13] mcepl commented on #718
Also, the URL of new token is ``https://gitlab.com/-/profile/personal_access_tokens``.

[2021-11-27 23:56] mohe2015 commented on #720
For me using the latest version in `master` and using "interactive token creation" worked.

[2021-11-27 23:56] mohe2015 commented on #719
For me using the latest version in `master` and using "interactive token creation" worked.

[2021-11-27 23:57] mohe2015 commented on #718
For me using the latest version in `master` and using "interactive token creation" worked.

[2021-11-28 06:13] gavin-shaw commented on #720
Confirmed, thank you @mohe2015 . I think we should leave this open for others until master hits the package managers?

I am on mac with brew.

For those landing here, check the [releases](https://github.com/MichaelMure/git-bug/releases) page first to see if there is a release after 2021-11-28. If not, follow instructions under Installation > Compile from git (unstable) in the README.md.

[code]

T

[2021-11-28 06:18] gavin-shaw commented on #719
Confirmed manual token is also working on `master`, thank you @mohe2015 . I think we should leave this open for others until master hits the package managers?

I am on mac with brew.

For those landing here, check the [releases](https://github.com/MichaelMure/git-bug/releases) page first to see if there is a release after 2021-11-28. If not, follow instructions under Installation > Compile from gi

[2021-11-28 13:57] mohe2015 opened #723 "import error: timeline item creation: title is empty"
When importing the issues from https://github.com/NixOS/nixpkgs/ I get the following error:
[code]

[2021-11-28 14:23] mohe2015 opened #724 "[question] How to import issues from GitHub and export them to GitLab?"
I can't get this to work with the current `master` branch. The `git bug bridge push gitlab` always says `exported 0 issues with gitlab bridge`. I suspect it has something to do with the identites/users.
`git bug user` shows:
[code]
(The information is my own)

[2021-11-29 06:42] mcepl commented on #718
For me it doesn’t:
[code]

[2021-11-29 12:15] mohe2015 commented on #718
@mcepl I only used the bridge configure without adding a token before and there was a interactive auth option there.

[2021-12-03 20:35] rng-dynamics commented on #723
How long did the import run until you hit this error?

[2021-12-03 21:03] mohe2015 commented on #723
@rng-dynamics  Quite long - can't remember but I think more than an hour

[2021-12-04 11:28] #690 closed

[2021-12-04 11:29] #723 closed

[2021-12-04 11:37] #699 closed

[2022-01-05 13:33] 6543 commented on #704
@MichaelMure should I push this forward?

[2022-01-05 13:44] MichaelMure commented on #704
A new release is not so much the problem, it's having the code in a releasable state. Unfortunately some very extensive changes in the core have been amde,that need to be stabilized and exercised up to a point where I/we are confident about it. This is especially important as the next release is likely to be the 1.0, which comes with some form of compatibility guarantee regarding the data stored.

[2022-01-05 14:35] MichaelMure commented on #704
Thanks, that's already useful. On my side, the apartment refurbish should finish this month, so hopefully I finally get some free time soon-ish.

[2022-01-31 21:27] johnnyutahh commented on #16
Checking in after some time away: has anyone thought more about this?

It seems as if there's not much (if any) additional interest (beyond mind) in this feature, at least judging by this issue's activity.

[2022-01-31 21:47] johnnyutahh commented on #16
@yrashk - where is this "SIT" project you (I think?) mention. I've been unable to find it.

Separately:

A collection/list of distributed-bug-tracking (often git oriented), I hope it's okay for me to record here, for my reference (apologies if I'm hijacking this issue inappropriately):

https://dist-bugs.branchable.com/software/ (`git-bug` is of course referenced here, [introduced by @MichaelMure

[2022-02-01 11:11] neithernut commented on #16
https://github.com/sit-fyi/sit (also listed on https://dist-bugs.branchable.com/software/ btw.)

[2022-02-04 20:23] a-m-joseph commented on #719
I have this problem too, with the git-bug packaged in nixpkgs.

Please produce a numbered release with this bug, otherwise distributions won't pick it up.

IMHO this project is significantly less useful without the github bridge.  Unbreaking that would seem worthy of a release, no?

[2022-02-05 00:59] a-m-joseph opened #740 "import error: Something went wrong while executing your query. Please include `BDCC:213B:6AF4A8:6D1E7A:61FD9C2C` when reporting this issue."
Hi, when attempting to "git bug pull" from https://github.com/nixos/nixpkgs using the github bridge, I get:

`import error: Something went wrong while executing your query. Please include `BDCC:213B:6AF4A8:6D1E7A:61FD9C2C` when reporting this issue.`

[2022-02-08 21:28] mnaderhirn opened #742 "git bug push not working"
when I try to push my issues i get the following error
![grafik](https://user-images.githubusercontent.com/62671479/153078591-d7f3f372-6977-441d-9abf-c10abd393096.png)
Do I have a wrong configuration?

[2022-02-10 08:38] mnaderhirn commented on #742
Short update - push is working just getting the messages above, so it is just a minor issue

[2022-02-13 19:13] funderscore1 opened #744 "Bridge with NotABug.org and other gogs instances"
I would love to have a bridge for **gogs/gitea** instances because I myself use
notabug (with all my repos mirrored there) and want to sync my issues.

Are there plans to add support for **gogs/gitea**?

[2022-02-15 21:01] MichaelMure commented on #740
This was a problem on Github side, they had some trouble at that time. If you try again if should work.

[2022-02-15 21:01] #740 closed

[2022-02-15 21:03] MichaelMure commented on #744
No official plan but I'm accepting contribution.

[2022-02-17 11:49] mthuggett commented on #719
getting same with gitlab, tried to setup this morning, won't accept the token.  checked and re-checked.  expired one tried a new one.  Same issue.

[2022-02-21 21:37] a-m-joseph commented on #740
It is still happening.  I can't seem to reopen this issue so I will file a new one.

[2022-02-21 21:37] a-m-joseph opened #749 "problems importing from github.com/nixos/nixpkgs"
Ten minutes ago, trying to `git bug bridge pull` the [nixpkgs](https://github.com/nixos/nixpkgs) project's bugs (>5k bugs, >3k PRs -- a very very large set of bugs):

[code]

I have never been able to get a pull of nixpkgs' bugs to complete, and I've been trying for weeks now (see also #740).

I am using 05d73e1b5321c97cd05133b5ae49d1798bc2fe5d, which has the fix for #585.

Is there any chance tha

[2022-02-21 23:19] a-m-joseph commented on #609
Is there any chance you could push your git-bug import of nixpkgs somewhere public?

I have been trying to do the same import for the last two weeks.  Something has broken on github's side and is still broken; see #740 and #749.  I am getting kinda desperate (and disappointed with github).

[2022-02-23 00:07] a-m-joseph commented on #749
[code]

[2022-02-27 20:35] rng-dynamics commented on #609
I don't have it anymore, sorry.

[2022-02-27 21:11] rng-dynamics commented on #749
The error is from the github server. But I can tell you what I would try:

1. You should put the nixpkg repo in a tmpfs (`mount -t tmpfs`) because there is a big number of issues in nixpkg and git-bug writes more data than necessary on your disk while importing. Using a tmpfs might help you to speed up the import.

2. You can try to decrease the size of the queries to the github server here: https

[2022-02-27 21:44] MichaelMure commented on #749
We should adress that at some point, any idea why that is?

[2022-02-28 19:09] rng-dynamics commented on #749
Do you remember that discussion: https://github.com/MichaelMure/git-bug/pull/585#issuecomment-799393989. As far as I understand `.git/git-bug/bug-cache` and `.git/git-bug/identity-cache` are rewritten after every imported issue, comment, edit, ... .

[2022-02-28 19:12] MichaelMure commented on #749
Ha yes, I forgot about that, thanks.

[2022-03-01 02:16] a-m-joseph commented on #749
Hey, thank you for your reply.  Just to clarify:

Oh, the reason it's slow is not git-bug; it's github's API ratelimit.  I did not mean to imply that git-bug was not performant.

Thanks, I will give those a try tonight or tomorrow.

[2022-03-01 03:18] a-m-joseph commented on #749
Testing now.

Is there any way to get `git-bug bridge pull` to print verbosely what it is doing?  Right now it only prints to the console when it discovers new data.  There is a long silent delay at the start of the pull where it isn't clear what it's doing.

[2022-03-01 04:19] a-m-joseph commented on #749
Hrm, with latest HEAD and `NumIssues=10` I get:

[code]

Apparently `git-bug`'s API ratelimit calculation disagrees with github's?

`NumIssues=20` did not solve the problem.

[2022-03-01 06:47] a-m-joseph commented on #749
Decreasing these (as low as 20) did not help.

Increasing this (as high as 10) did not help.

[2022-03-01 18:56] rng-dynamics commented on #749
I will have look at it, but I will need a few days. In case I do not come back to this issue in about a week, please feel free to ping me.

[2022-03-01 20:27] MichaelMure commented on #749
@rng-dynamics it might make sense to implement another `ImportResult`/`ExportResult` for simple logs that the bridges could use to spit out more detailed information on what's happening. Those could be made visible with a `--verbose` flag or something like that.

At this point it would make sense to rename those to `importEvent`/`ExportEvent`.

[2022-03-05 19:00] #724 closed

[2022-03-09 19:56] rng-dynamics commented on #749
@a-m-joseph, thanks for the bug report. The errors are seemingly arbitrary errors by github. If you want you can use my draft in #760. Even if there are github errors with #760 the bridge will continue importing the other issues. And you can run the import again and it will try to fetch the remaining issues. (https://github.com/NixOS/nixpkgs/issues/14034 always fails for me.) Have look at the file

[2022-03-11 04:57] a-m-joseph commented on #749
Thanks, I'm trying this right now.

[2022-03-13 06:56] a-m-joseph commented on #749
Appears to be working!

Thank you so much for taking the time to look into this.

[2022-03-16 02:40] a-m-joseph commented on #749
I'm very sorry to trouble you again, I really appreciate the time you've put into this already.

Unfortunately after taking a closer look at the results of the import, I have the correct number of bugs, but:

1. After the initial import, `git bug bridge pull` (with or without `-n`) no longer picks up new changes:

[code]

2. Even the initial import seems to be missing a lot of activity.  Strangely

[2022-03-19 11:18] rng-dynamics commented on #749
Regarding the github bridge: The Github API is quite fragile and we are trying to keep up with its repeatedly changing quirks. The code which you used is only a draft merge request. Anyway, for my own convenience I used a file `git-pug-import` to keep track of the progress. If that file is present, then the bridge will import only issues which are listed in that file. If you want to import all iss

[2022-03-19 18:08] a-m-joseph commented on #749
Thank you for explaining this.

Personally, I much prefer the sort of workflow the Linux kernel uses, where inter-developer communication uses simple protocols and the developers themselves select the complex tools that suit them best.

Whenever I bring this up in discussions, people always come back with "But GitHub has a usable and reliable API that you can use if you want that!"  I've long susp

[2022-03-27 17:57] bqv commented on #80
@tianyuanhao desperate to see this happen, thanks for your work in #675

[2022-03-28 23:00] bqv commented on #253
@kumaran-14 did you get anywhere?

[2022-03-29 20:56] gaelj opened #772 "Gitlab bridge PAT broken"
Using `git-bug-git` Arch linux package I have the following error trying to connect to a self hosted gitlab version 14.9 instance:

[code]

Note: if I enter the token without the `glpat-` prefix, the format seems to be accepted, but of course the request is then rejected by the gitlab server with a 401 error.

[2022-04-10 02:16] DarthRubik opened #778 ""git bug rm" broken on master branch"
It appears that the "git bug rm" command hangs on my machine when I try to remove a test bug that I created....

[2022-04-11 13:59] ProfessorManhattan opened #779 "Syncing GitHub Issues with GitLab Issues"
I tried connecting both GitLab and GitHub with bridges but I was unable to accomplish what I was looking to do which is sync GL issues with GH issues. Is this possible?

[2022-04-19 19:53] #772 closed

[2022-04-27 18:43] alefminus opened #785 "github bridge to shared (not owned) repository panics on "comment id not found""
I have a private repository that my user has access to via invite, i.e.

https://github.com/owner/repo

while I am user "user".

git bug push / pull works as expected, since it is just using git which works.

But using git bug bridge push (I have tested the same token on another repository and verified it works with git bug bridge pull/push)
I get:

[code]

Using built from source (a00f1a98972239c

[2022-05-01 10:54] #493 closed

[2022-05-03 17:23] MichaelMure commented on #785
This is the line where it happens: https://github.com/MichaelMure/git-bug/blob/247e1a865db29a3189acfd89cde776a52a7ebaac/bridge/github/export.go#L345

This is likely a bug in git-bug introduced when Comments got an *interleaved id* (https://github.com/MichaelMure/git-bug/blob/master/entity/id_interleaved.go), that hold both the bug Id and the comment Id. It's quite weird that the automated test don

[2022-05-03 17:25] MichaelMure commented on #779
At the moment, git-bug forbid this scenario on purpose as this would likely lead to problem. Even if that wasn't the case, you would need credentials for every user on the target bug tracker to replicate the bugs properly, which I assume you don't?

This should be supported some day but will likely require some better story to collect and handle those credentials.

[2022-05-03 17:25] #779 closed

[2022-05-03 17:26] MichaelMure commented on #778
Yes that's enough to do that manually.

What error did you get?

[2022-05-03 17:44] MichaelMure commented on #212
FYI, this has finally been tackled. The result is the `entity` and `entity/dag` package: https://github.com/MichaelMure/git-bug/tree/master/entity/dag

This also make it quite easy to implement a new distributed data structure like Bug, and example is available here: https://github.com/MichaelMure/git-bug/blob/master/entity/dag/example_test.go

[2022-05-03 17:44] #212 closed

[2022-05-03 17:46] MichaelMure commented on #212
Also, documentation: https://github.com/MichaelMure/git-bug/blob/master/doc/model.md

[2022-05-03 18:02] MichaelMure commented on #704
Let's go back to my initial list:
- ~finish/control/merge a bunch of PRs~
- ~finish a bunch of stuff in flux, in particular regarding the data format~
- make sure everything is fine
- ~write doc and~ communicate around the new data format (make your own distributed datastructure in git easily!)
- write release notes and actually release

I think the last PR I want to have before 1.0 is https://git

[2022-05-04 23:20] DarthRubik commented on #778
I don't get an error it just hangs forever

[2022-05-22 23:55] smoyer64 commented on #704
I'm trying to use the current implementation from the master branch and was trying to "make my own distributed datastructure in git".  Can you point me to the above referenced document?  And one of the problems that I have is that `LocalStorage` always writes to `.git/git-bug/xxx`.  Thanks!

[2022-05-23 06:32] MichaelMure commented on #704
Doc is there, let me know if something is unclear:
https://github.com/MichaelMure/git-bug/blob/master/doc/model.md
https://github.com/MichaelMure/git-bug/blob/master/entity/dag/example_test.go

Are you trying to run in the browser with wasm or something like that? I didn't intend for that code to support that so it's possible that things would need to be adjusted a bit. FYI @happybeing has been ex

[2022-05-23 11:37] smoyer64 commented on #704
@MichaelMure - Thanks so much for the response!  I've been following the model but hadn't seen the example you referenced.  Amazingly, I mostly got my Snapshot and Entity created correctly and appreciate that I can set the directory which holds the references (and that references are separated by the type of entity).  Right now, I'm just creating a CLI application so I don't have an issue with run

[2022-05-23 15:30] MichaelMure commented on #704
This code also wasn't written with multiple app sharing that same space, but that's actually a good point now that there is a reusable data structure. Luckily that's easy-ish to change as git-bug will recreate all those temp files if they are not found after changing the path.

The path for `LocalStorage` in the git repository is hard-coded in three places in this file -

Yeah it's probably a good

[2022-05-23 16:27] smoyer64 commented on #704
Must be nice! ... I have a couple side-projects that are focused around the non-crypto side of web3 (distributed file systems of various sorts).  In addition to writing a distributed journal system (this question), I'm working on a Go implementation of the HyperSwarm protocol with the ultimate goal of bridging HyperSwarm and IPFS - it feels like there should be a way to find documents regardless o

[2022-05-25 12:20] smoyer64 opened #797 "Allow `LocalStorage` configuration in the creation of a `GoGitRepo`"
As noted in https://github.com/MichaelMure/git-bug/issues/704#issuecomment-1134822739, `GoGitRepo` has been refactored to provide a reusable data structure.  The repository's `LocalStorage` is hard-coded to the value "git-bug".  This is probably appropriate for applications that extend git-bug such as distributed Kanban boards, distributed code review, etc.  For applications that are not in any wa

[2022-05-26 03:27] mvkvc opened #799 "Test"
Testing git bug

[2022-05-26 03:29] #799 closed

[2022-05-27 17:44] smoyer64 commented on #778
@MichaelMure - I've confirmed this issue on my local machine and will have a failing test for it tomorrow.  If you'd like, you can assign this to me.

[2022-05-28 14:45] smoyer64 commented on #778
Running this locally (Debian Bullseye Linux) results in the hanging CLI as noted above and CTRL-C doesn't terminate the hung state.  Running this using Go test running and the new `testEnv` created as part of https://github.com/selesy/git-bug/tree/fix/778-git-bug-rm-broken allows the supervising Go routine to terminate the operation on timeout and return each Go routine's state.  Here's the output

[2022-05-28 15:18] smoyer64 commented on #778
@MichaelMure - This appears to be failing because `RepoCache.RemoveBug()` grabs a read-lock when calling `RepoCache.ResolveBugPrefix()` but the underlying code called from that method already locks/unlocks the cache as needed.  Removing the `RLock` on `repo_cache_bug.go:502` does indeed solve the problem but I'd like a second set of eyes to verify that there is already sufficient locking when reso

[2022-05-29 12:55] smoyer64 commented on #742
@mnaderhirn - Can you provide a bit of information about your OS and about your remote repository.  Also, please post the output of the following command:

[code]

This (non-error?) message appears to be from the remote repository and reports of this "extra output" appear to be related to the `credential-manager-core` project's rename (https://github.blog/2022-04-07-git-credential-manager-authenti